[2021-04-07 13:24] saragerion opened #24 "Feature request: Logger utility"
## Description of the feature request

**Core utility: Logger**

Beta release launch checklist:
* [x] Business logic is created and reviewed by peers
* [x] All functionalities available via decorators are also available via Middy middleware
* [x] Unit tests are created and passing in Github Actions, with 100% coverage
* [x] Examples related to this utility are created in the `examples` folder, and

[2021-04-07 13:27] saragerion opened #25 "Feature request: Metrics utility"
## Description of the feature request

**Core utility: Metrics**

Beta release launch checklist:
* [x] Business logic is created and reviewed by peers
* [x] All functionalities available via decorators are also available via Middy middleware
* [x] Unit tests are created and passing in Github Actions, with 100% coverage
* [x] Examples related to this utility are created in the `examples` folder, an

[2021-04-07 13:42] saragerion opened #26 "RFC: naming convention of core utilities"
## Description of the proposal

We need to come to an agreement about the naming convention of the core utilities, to keep them consistent within the wider TypeScript tools.

### Name of the core utility (and consequently the folders that contain the libraries):

- `packages/logger`, `packages/tracer`, `packages/meter`
OR
- `packages/logs`, `packages/traces`, `packages/metrics`
OR
- `packages/logg

[2021-06-24 19:27] dreamorosi opened #91 "Feature request: Tracing utility"
## Description of the feature request

**Core utility: Tracing**

Beta release launch checklist:
* [x] Business logic is created and reviewed by peers
* [ ] All functionalities available via decorators are also available via Middy middleware
* [x] Unit tests are created and passing in Github Actions, with 100% coverage
* [ ] Examples related to this utility are created in the `examples` folder, an

[2021-07-16 15:30] saragerion opened #115 "all: improve the "Contributing" section documentation"
## Description of the improvement

**Summary of the proposal**

Right now the contributing docs are very bare.
To make it inclusive and accessible for contributors from different seniority, background and experience, this area should be be more detailed to make sure that ambiguity is reduced and most importantly, in case of PR's, expectations are communicated early on in the PR progress.

**How, w

[2021-07-16 15:52] saragerion opened #116 "Maintenance: Use correct license"
## Bug description

Right now the repo is referencing the wrong license.
This one should be used instead (also important for consistency):
https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/LICENSE

### Expected Behavior

Licenses are consistent across languages

### Current Behavior

A wrong license is referenced.

### Possible Solution

### Steps to Reproduce

Go to: https://gi

[2021-07-20 10:06] dreamorosi opened #120 "Maintenance: Improve CI for PRs"
## Description of the improvement

**Summary of the proposal**

At the moment merging PRs requires maintainers to clone the branch locally, run tests, and then go back to GitHub to approve the PR.

To make it inclusive and accessible for contributors from different seniority, background and experience, this area should be be more detailed to make sure that ambiguity is reduced and most importantly

[2021-07-20 13:02] #116 closed, assigned to dreamorosi

[2021-07-21 15:12] dreamorosi opened #125 "RFC: utilities packages structure"
## Description of the feature request

We need to come to an agreement on how to structure the utilities packages like `parameters`, `parsers`, etc. for this project.

**Problem statement**

The Python version of Powertools groups all the modules/classes under an `utilities` umbrella module. This is in line with how package management is done in Python and with the way the AWS SDK (`boto3`) is dis

[2021-07-21 15:24] bahrmichael opened #126 "all: Enable auto-merge for dependabot"
## Description of the feature request

**Problem statement**

Today dependabot PRs require manual approval, which consists of checking if the PR builds succeeded and then merging the changes.

**Summary of the feature**

By enabling auto-merge for a dependabot pull requests we can reduce the required maintenance time, and focus our time on more creative tasks.

To auto-merge your pull requests, we

[2021-07-23 12:27] saragerion opened #129 "Feature request: correlation ID's propagation"
## Description of the feature request

**Problem statement**
The use of correlation ID's can be extremely helpful for debugging purposes and help developers understanding the lifecycle of user transactions as they are being handled by different microservices within a platform.
It would be good to help developers understand how they can use correlation ID's effectively and following the best practi

[2021-07-23 12:51] saragerion opened #130 "Docs: Logger documentation"
## Description of the feature request

**Problem statement**
N/A.

**Summary of the feature**
Documentation for the Logger library:
https://awslabs.github.io/aws-lambda-powertools-python/core/logger/

**Code examples**
https://github.com/awslabs/aws-lambda-powertools-python/tree/develop/docs
https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/README.md

**Benefits for you and the

[2021-07-23 12:57] saragerion opened #131 "Maintenance: private publishing on npm"
## Description of the feature request

**Problem statement**

Before the beta launch, it would be good to setup tests of the code running on real Lambda functions. This can catch and mitigate errors when it comes to publishing, missing files, and build steps for example.

**Summary of the feature**

Proposals:
- Private NPM registry such as [Verdaccio](https://verdaccio.org/);
- NPM dependency loc

[2021-07-23 13:57] saragerion opened #133 "Maintenance: revisit automation for Issues and PR's"
Note, the body of this issue was edited to reflect the new scope:

- [x] If possible, when a new issue is created we should add it to [the GitHub project](https://github.com/orgs/awslabs/projects/76) (note, this is not a Project (classic) in GH nomenclature)
- [x] Review & make sure that when a new PR is opened, [this job runs](https://github.com/awslabs/aws-lambda-powertools-typescript/blob/main/

[2021-07-26 13:55] saragerion opened #136 "Maintenance: release process"
## Description of the feature request

**Problem statement**

For the scope of our first beta release, and consequent ones, when one or more features are merged to main and ready to be published, a release process needs to be in place in order to make the NPM library available to the wider public.
_**Ideally**_, this process should be as automated as possible to reduce the operational burden of ma

[2021-07-27 13:57] saragerion opened #139 "logger: business logic implementation - Randomization, middy middleware, correlation ID's, optional: object merging"
## Description of the feature request

**Problem statement**

There are some areas that should be revisited or implemented.

**Summary of the feature**

1) We should update the implementation of randomisation of sampling - currently implemented like this:

[code]
Not optimal.

2) Implementation of middy-compatible middleware logic to match the one of the decorator which is already existing.

3) Co

[2021-07-27 14:33] alan-churley opened #140 "all: Pre-Launch Security Review"
Before the launch we need to get the repo approved and check by both AppSec and AOD/ TS Developers,

[2021-07-27 15:01] alan-churley opened #141 "Maintenance: New issues should be unasigned"
Currently all new issues are being assigned to @saragerion and myself, as a result It an be confusing to see which issues are not yet picked up,

We should modify the auto_assign-issues.yml to change this default

[2021-07-27 15:21] alan-churley opened #142 "Feature request: Aggregated Metics"
Currently the metics module is not capable of supporting Aggregated Metrics, as per https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/publishingMetrics.html#publishingDataPoints1

It would be good to investigate supporting this functionality

[2021-07-27 15:27] alan-churley opened #143 "Feature request: Make max dimensions count configurable in Metrics"
Currently the Max dimensions has a hard coded limit of 9 dimensions, this matches the python functionality.

However it would be good if this could be customisable, with perhaps a default limit of 9, so that users can choose to override this if they wish,

Similar to how this is done in the logger: https://github.com/awslabs/aws-lambda-powertools-typescript/blob/main/packages/logger/types/Logger.t

[2021-07-29 10:46] dreamorosi opened #147 "Feature request: enable tracing only when running on AWS Lambda"
## Description of the feature request

Customers have raised a pain point around the `Tracer` utility throwing errors when when not running inside the Lambda execution environment. While both the `Tracer` and the underlying `aws-x-ray` packages provide ways to both change [missing context strategy](https://docs.aws.amazon.com/xray-sdk-for-nodejs/latest/reference/AWSXRay.html) and disable tracing a

[2021-07-29 13:07] #141 closed, assigned to dreamorosi

[2021-07-30 15:08] dreamorosi opened #151 "Docs: create metrics documentation"
## Description of the feature request

**Problem statement**
N/A.

**Summary of the feature**
Documentation for the Metrics library:
https://awslabs.github.io/aws-lambda-powertools-python/core/metrics/

**Code examples**
https://github.com/awslabs/aws-lambda-powertools-python/tree/develop/docs
https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/README.md

**Benefits for you and th

[2021-07-30 15:10] dreamorosi opened #152 "Maintenance: Publish documentation"
## Description of the improvement

**Summary of the proposal**

Publish first version of documentation for beta release

**How, where did you look for information**

N/A

**Missing or unclear documentation**

N/A

**Improvement**

 - [ ] Documentation Homepage [#250](https://github.com/awslabs/aws-lambda-powertools-typescript/pull/250/)
 - [ ] Documentation for Logger [#130](https://github.com/aws

[2021-07-30 15:11] dreamorosi opened #153 "Docs: add tracer documentation"
## Description of the feature request

**Problem statement**
N/A.

**Summary of the feature**
Documentation for the Tracer library:
https://awslabs.github.io/aws-lambda-powertools-python/core/tracer/

**Code examples**
https://github.com/awslabs/aws-lambda-powertools-python/tree/develop/docs
https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/README.md

**Benefits for you and the

[2021-08-06 13:55] alan-churley opened #163 "Maintenance: metrics unit testing strategy"
## Description of the feature request

**Problem statement**
Metrics unit tests currently are not structured the same as the Logger module,

In the logger only public methods are tested, following the recommendations here: https://github.com/goldbergyoni/javascript-testing-best-practices/#-%EF%B8%8F-14-stick-to-black-box-testing-test-only-public-methods

Opening a ticket to track discussions and w

[2021-08-10 09:15] alan-churley opened #165 "Maintenance: `undefined` environment variable returning empty string from `EnvironmentVariablesService`"
## Description of the feature request

**Problem statement**
Currently the EnvironmentVariablesService returns an empty string if an env var is not set, rather than undefined.

Ticket to discuss the pros and cons of this approach and consider changing the logic to use undefined

**Summary of the feature**

**Code examples**

**Benefits for you and the wider AWS community**

**Describe alternatives

[2021-08-10 14:05] dreamorosi opened #168 "tracer: capturing an error causes ERR_UNHANDLED_REJECTION or catching Customer's error"
## Bug description

The `Tracer` utility has a feature that allows Customers to annotate a segment by adding error data when an error is thrown while capturing the Lambda handler.

This feature comes from the [`x-ray sdk for node`](https://docs.aws.amazon.com/xray-sdk-for-nodejs/latest/reference/Segment.html#addError) and is implemented also [in the Python version](https://github.com/awslabs/aws-l

[2021-08-11 10:08] #26 closed, assigned to saragerion

[2021-08-11 13:43] dreamorosi opened #173 "Maintenance: use npm-shrinkwrap instead of package-lock"
## Bug description

The package uses `package-lock.json` instead of `npm-shirinkwrap.json`.

I didn't spot this in the PR review.

### Expected Behavior

Use `npm-shrinkwrap.json`.

### Current Behavior

Using `package-lock.json`.

### Possible Solution

Run `npm shrinkwrap` in the package folder, delete the old file, commit the new one.

### Steps to Reproduce

N/A

[2021-08-12 14:35] #173 closed, assigned to dreamorosi

[2021-11-30 06:06] flochaz opened #248 "Bug: metrics not flushing on throw"
## Bug description

If using the decorator on handler and any execution flow endup throwing an exception, the metrics won't be flushed.

### Expected Behavior

Metrics should be flushed whatever is happening in the customer code.

### Current Behavior

If exception thrown, no metrics sent to cloudwatch.

### Possible Solution

Option 1: Flush in a  finally statement here: https://github.com/awslab

[2021-12-02 12:08] #248 closed, assigned to flochaz

[2021-12-06 09:04] #152 closed, assigned to saragerion

[2021-12-08 15:23] dreamorosi opened #275 "tracer: Feature improvements"
## Description of the feature request

**Problem statement**
While an initial implementation of the `Tracer` core package has been done there are a handful of features that are missing when compared with the Python version. Some of these features were implemented recently while others, due to the language difference, need to be implemented differently and for this reason where left out in the init

[2021-12-10 08:22] flochaz opened #286 "(tracer): Lambda -> SQS -> Lambda support"
## Description of the feature request

**Problem statement**

SQS currently don't propagate properly traces when chaining Lambda. See https://github.com/aws/aws-xray-sdk-node/issues/208 for more details.

**Summary of the feature**

1. Implement a mechanism to detect when event coming from SQS and contains XRay trace id.
2. Rebuild segments to be part of the main trace

**Code examples**

I did a

[2021-12-10 13:27] dreamorosi opened #289 "Maintenance: tracer fix linting"
## Description

Implement linting for tracer module following what done for logger in #247 ; should be implemented after #107 has been merged.

### Expected Behavior

New configuration should be present & `npm run lint` should be successful.

### Current Behavior

Linting fails which causes automated checks to fail as well.

[2021-12-10 13:38] dreamorosi opened #290 "Maintenance: Refactoring shared events/contexts"
## Description of the feature request

**Problem statement**
At the moment we have some resources like [dummy events](https://github.com/awslabs/aws-lambda-powertools-typescript/blob/main/tests/resources/events/custom/hello-world.json) that are referenced in examples and tests across modules.

This complicates the project structure and [makes it harder](https://github.com/awslabs/aws-lambda-powert

[2021-12-12 10:03] #151 closed, assigned to flochaz

[2021-12-12 15:16] dreamorosi opened #292 "Docs: JSDoc for method decorators don't render properly"
## Description of the improvement

**Summary of the proposal**
Currently hovering on a decorator in VS Code shows an unindented code example with also additional characters (`*`) around the decorator name. This, aside from the fact that decorators are still experimental in TypeScript, is probably due to either the `@` sigil conflicting with JSDocs (which uses the same symbol to delimit sections) a

[2021-12-13 11:24] saragerion opened #294 "Feature request: logger middy middleware support"
## Description of the feature request

See this discussion for context: https://github.com/awslabs/aws-lambda-powertools-typescript/discussions/282#discussioncomment-1796996

[2021-12-13 12:04] dreamorosi opened #295 "Feature request: tracer middy middleware support"
## Description of the feature request

See this discussion for context: https://github.com/awslabs/aws-lambda-powertools-typescript/discussions/282#discussioncomment-1796996

[2021-12-13 14:29] flochaz opened #301 "(metrics): rename purgeStoredMetrics to publishStoredMetrics"
## Description of the feature request

**Problem statement**

`purgeStoredMetrics` can be confusing and be understood as dropping metrics.

**Summary of the feature**

Propose by @ijemmy to change it to `publishStoredMetrics` (https://github.com/awslabs/aws-lambda-powertools-typescript/pull/285#discussion_r767706914).

### Related issues, RFCs

https://github.com/awslabs/aws-lambda-powertools-type

[2021-12-13 16:41] #130 closed, assigned to saragerion

[2021-12-13 17:51] dreamorosi opened #302 "Feature request: define more specific types for decorators"
## Description of the feature request

As discussed internally, we need to define more specific types for the method decorator that currently uses the `any` type:
[code]

### Related issues, RFCs

[#107](https://github.com/awslabs/aws-lambda-powertools-typescript/pull/107)

[2021-12-14 10:08] saragerion opened #303 "Docs: add DAZN credits in docs"
## Description of the feature request

Add DAZN credits to README

**Problem statement**

**Summary of the feature**

**Code examples**

https://github.com/awslabs/aws-lambda-powertools-python/

**Benefits for you and the wider AWS community**

Acknowledgement of importance of DAZN Lambda Powertools library which paved the road and inspired this AWS library:
https://github.com/getndazn/dazn-lambda

[2021-12-14 10:50] dreamorosi opened #304 "Feature request: logger review PowertoolLogFormatter.formatError() message field"
## Description of the feature request

**Problem statement**

We have observed a potential issue related to how node generates error messages that might affect the `PowertoolLogFormatter.formatError()` and that made unit tests fail.

An hot fix has been applied ([here](https://github.com/awslabs/aws-lambda-powertools-typescript/blob/main/packages/logger/tests/unit/formatter/PowertoolLogFormatter.t

[2021-12-14 11:39] #147 closed, assigned to dreamorosi

[2021-12-14 12:14] saragerion opened #306 "Maintenance: labels strategy & automation for Issues and PRs"
## Description of the feature request
Minor feature but useful for governance of external contributions by the AWS community.
It would be good to review labels used for Github Issues and PR's.
- Review the existing labels and add, edit, delete labels also based on other runtimes
- When applicable, automate the assignment of labels based on specific criteria
- Nice to have: make sure that there is

[2021-12-15 08:42] #303 closed, assigned to dreamorosi

[2021-12-15 15:00] #91 closed, assigned to dreamorosi

[2021-12-15 15:00] #153 closed, assigned to dreamorosi

[2021-12-16 08:48] flochaz opened #329 "Docs: wrong documentation for tracer manual mode"
## Bug description

Using #326 global examples and especially https://github.com/awslabs/aws-lambda-powertools-typescript/blob/examples/cdk/examples/cdk/lib/example-stack.MyFunction.ts#L43

Subsegment does not seems to be created in xray:

<img width="1111" alt="Screenshot 2021-12-16 at 09 44 26" src="https://user-images.githubusercontent.com/1225809/146337876-6632e3a6-3a56-46d6-9be1-58870d8432f2.

[2021-12-16 13:04] saragerion opened #332 "Feature (examples): delete examples in packages folder"
## Description of the feature request

**Problem statement**

Redundant examples in the logger folder.

**Summary of the feature**

The scope of this Issue is to delete this folder:
https://github.com/awslabs/aws-lambda-powertools-typescript/tree/main/packages/logger/examples
Nobody is using this folder, and it's just redundant at this point.

**Code examples**

**Benefits for you and the wider AW

[2021-12-16 13:09] saragerion opened #333 "Maintenance: use one eslint at root folder & fix linting issues"
## Description of the feature request

**Problem statement**

**Summary of the feature**

**Code examples**

**Benefits for you and the wider AWS community**

**Describe alternatives you've considered**

**Additional context**

### Related issues, RFCs

[2021-12-16 14:20] dreamorosi opened #334 "Feature request: feature parity for manual instrumentation tracer"
## Description of the feature request

This feature request is to expose some of the currently private APIs to annotate cold start, add error as metadata, and so on.

**Problem statement**

At the moment instrumenting tracing for a function manually is a bit clunky and requires reverse-engineering the decorator/middleware implementations.

**Summary of the feature**

* [x] Public method `tracer.an

[2021-12-16 14:22] #329 closed, assigned to dreamorosi

[2021-12-17 10:50] #294 closed, assigned to saragerion

[2021-12-17 11:43] #136 closed, assigned to flochaz

[2021-12-17 15:59] #295 closed, assigned to dreamorosi

[2021-12-17 16:00] #289 closed, assigned to dreamorosi

[2021-12-23 09:11] #334 closed, assigned to dreamorosi

[2021-12-23 10:20] #290 closed, assigned to flochaz

[2021-12-27 12:20] saragerion opened #348 "metrics: rename raiseOnEmptyMetrics to throwOnEmptyMetrics"
## Description of the feature request
Currently the metrics Class has a class propriety `shouldRaiseOnEmptyMetrics` and middleware/decorator parameter `raiseOnEmptyMetrics` that when set to true, will cause the library to throw an error when no metrics are created.
As flagged by @dreamorosi in [this PR](https://github.com/awslabs/aws-lambda-powertools-typescript/pull/338#discussion_r773816073), `t

[2021-12-27 15:28] saragerion opened #349 "Maintenance: README files, beta release warnings"
## Description of the feature request
- Add readme files with minimal content for each package (including root)
- Add installation guide
- Add notice about beta

**Problem statement**

N/A

**Summary of the feature**

N/A

**Code examples**

N/A

**Benefits for you and the wider AWS community**

N/A

**Describe alternatives you've considered**

N/A

**Additional context**

N/A

### Related issues,

[2021-12-27 16:51] saragerion opened #350 "Docs: document all supported environment variables settings"
## Description of the feature request
The library's utilities allow the configuration of settings via env variables or constructor.
It would be helpful to create a documentation section with a table for each utility to describe what variables can be used, and if they overlap with other TS utilities or not (for example: `POWERTOOLS_SERVICE_NAME`, `POWERTOOLS_TRACE_ENABLED`, ...)

**Problem statemen

[2021-12-27 20:22] #25 closed, assigned to flochaz

[2021-12-28 10:13] #349 closed, assigned to saragerion

[2021-12-28 10:26] #24 closed, assigned to saragerion

[2021-12-28 10:42] #131 closed, assigned to flochaz

[2021-12-28 10:45] #120 closed, assigned to flochaz

[2021-12-28 11:42] saragerion opened #353 "logger: cdk examples + e2e tests"
## Description of the feature request
Similarly to what is done for Tracer and Metrics utilities, it would be helpful for developers to add these functionalities.

**Problem statement**

**Summary of the feature**

- Add logger related examples in root folder
- Add e2e tests in the package folder/scope

**Code examples**
N/A

**Benefits for you and the wider AWS community**
Better understand how t

[2021-12-28 12:01] #333 closed, assigned to dreamorosi

[2021-12-28 12:33] saragerion opened #354 "logger: jsdocs support"
## Description of the feature request
Add Jsdocs support as implemented for metrics and tracer: https://awslabs.github.io/aws-lambda-powertools-typescript/develop/api/classes/_aws_lambda_powertools_metrics.Metrics.html#addDimension

**Problem statement**

**Summary of the feature**

**Code examples**

**Benefits for you and the wider AWS community**

**Describe alternatives you've considered**

**

[2021-12-28 16:41] heitorlessa opened #358 "Docs: Syntax typo on within Connect sub-section"
## Description of the improvement

![image](https://user-images.githubusercontent.com/3340292/147586732-3d55b547-3ed1-4289-a394-ee264ef45dd4.png)

**Summary of the proposal**

Fix the extra `**` [in the main README](https://github.com/awslabs/aws-lambda-powertools-typescript/blob/b731a21219b7daebf8fd0036a4cb7bd1246743d7/README.md?plain=1#L50) and in the [Docs main page](https://github.com/awslabs/

[2021-12-28 16:53] heitorlessa opened #359 "Docs: clarify Middy's role"
## Description of the improvement

**Summary of the proposal**

Clarify whether customers need to install `Middy` and what its role is before sharing code snippets.

**How, where did you look for information**

Tracer page when looking to how to use it.

**Missing or unclear documentation**

[The first example of Tracer make use of Middy](https://awslabs.github.io/aws-lambda-powertools-typescript/

[2021-12-28 17:28] heitorlessa opened #360 "Docs: Improve contrast in source code expressions for low-eyesight"
## Description of the improvement

**Summary of the proposal**

**BEFORE**

![image](https://user-images.githubusercontent.com/3340292/147591612-a80c7bde-ae19-43e2-9ab3-8c65728923cf.png)

**AFTER**

![image](https://user-images.githubusercontent.com/3340292/147591649-64a607f3-2607-4841-90dd-9db6b58046e5.png)

**How, where did you look for information**

**Missing or unclear documentation**

**Impr

[2021-12-28 17:31] heitorlessa opened #361 "Docs: Move Patching under Getting Started"
## Description of the improvement

Since Typescript does not automatically patch AWS SDK like Python Powertools, [please move the section](https://awslabs.github.io/aws-lambda-powertools-typescript/0.2.0-beta.10/core/tracer/#patching-aws-sdk-clients) under Getting Started as that's the most common operation when using Tracer, not an Advanced.

**Summary of the proposal**

**How, where did you look

[2021-12-28 17:37] heitorlessa opened #362 "Docs: Inconsistent navigation to demonstrate multi-approach to capture Lambda context info"
## Description of the improvement

**Summary of the proposal**

[Capturing Lambda Context Info](https://awslabs.github.io/aws-lambda-powertools-typescript/0.2.0-beta.10/core/logger/#capturing-lambda-context-info) is inconsistent to what Tracer and Metrics are doing.

Either use a [code block title](https://squidfunk.github.io/mkdocs-material/reference/code-blocks/#adding-a-title) for a tabbed cont

[2021-12-28 17:41] heitorlessa opened #363 "Docs: Do customers need to pass a Lambda context for unit test?"
## Description of the improvement

**Summary of the proposal**

When reading the Logger docs, I've noticed `Testing your code` section is missing - when writing TS unit tests, will the [Capture Lambda Context](https://awslabs.github.io/aws-lambda-powertools-typescript/0.2.0-beta.10/core/logger/#capturing-lambda-context-info) logic work if no Context is provided or will it fail?

If it will fail, t

[2021-12-29 09:29] ijemmy opened #365 "Docs: on-release.yml fails to publish doc when running concurrently"
## Bug description

If there are several versions pushed to `main` at the same time, only one of them will succeed to publish doc.

![image](https://user-images.githubusercontent.com/61999/147646969-500b24c8-b5f5-4a0c-a1ed-0fb3b6326a51.png)

This is because the checked-out version of `gh-pages` has already been outdated. (As it just got updated by another action) Thus, the command `mike deploy --p

[2021-12-29 11:18] ijemmy opened #367 "Docs: No "latest" path in our doc"
## Description of the improvement

**Summary of the proposal**
When entering the root of documentation (http://awslabs.github.io/aws-lambda-powertools-typescript), it should be redirected to the **alias** "latest", just like in the Python version doc.

![image](https://user-images.githubusercontent.com/61999/147656783-8e7a3ba5-be48-427c-a623-88c90ee06fb1.png)

However, the current version redirect

[2021-12-30 16:04] flochaz opened #372 "(ALL): Release initial beta"
### Prerequisite

- [x] Update and merge https://github.com/awslabs/aws-lambda-powertools-typescript/pull/369
   - [x] [add release drafter](https://github.com/awslabs/aws-lambda-powertools-typescript/pull/382)
- [x] Check process for npm public release
- [x] Check process for github public release
- [x] Fix feedback from real use case tests
  - [x] #401
  - [x] (Andrea/Heitor) [OPTIONAL] #387

[2021-12-30 16:09] dreamorosi opened #373 "(all): Make middy/core a devDependency"
## Description of the feature request

**Problem statement**

Middy (`@middy/core`) is currently used in the middlewares implementations only for types (as brought up by @saragerion [here](https://github.com/awslabs/aws-lambda-powertools-typescript/pull/370#discussion_r776722962)).

We should move it as `devDependency` to avoid bundling it to Customers who might not be using it.

- [ ] Move `@midd

[2021-12-30 16:10] #358 closed, assigned to dreamorosi

[2021-12-30 16:10] #359 closed, assigned to dreamorosi

[2021-12-30 16:10] #360 closed, assigned to dreamorosi

[2021-12-30 16:10] #361 closed, assigned to dreamorosi

[2021-12-30 16:10] #362 closed, assigned to dreamorosi

[2021-12-30 16:11] #363 closed, assigned to dreamorosi

[2021-12-31 11:00] #365 closed, assigned to ijemmy

[2021-12-31 11:00] #367 closed, assigned to ijemmy

[2022-01-03 10:23] saragerion opened #378 "Bug: incorrect log level in CloudWatch"
## Bug description

Right now when printing log items, the log level (DEBUG, INFO, WARN, ERROR) is correctly state in the structured log JSON, but in cloudwatch they are processed all as INFO logs.

### Expected Behavior
Each log item in CloudWatch is processed using the correct logging level.

### Current Behavior

All log items have an INFO log level in CW.

### Possible Solution

Use the proper

[2022-01-03 11:38] flochaz opened #379 "Bug: Metrics Middy middleware not exported"

[2022-01-03 12:46] flochaz opened #381 "Feature request: Make all elements optionals in Lambda Handler type"
### Description

Feedbacks from earlier adopters complained about handler type tight to decorators which make context and callback compulsory.

This was already identified in discussions #280

[2022-01-03 13:33] ijemmy opened #383 "Bug: Multiple metrics support"

[2022-01-03 13:35] ijemmy opened #384 "Bug: Multiple addMetrics() calls should not override each other but push more value into the array in EMF"
This changes should be in:
1. Code
2. Unit test
3. Doc
4. Example

# Example code

[code]

# Expected result
[code]

[2022-01-03 13:55] #379 closed, assigned to flochaz

[2022-01-03 16:11] #383 closed, assigned to ijemmy

[2022-01-03 16:55] dreamorosi opened #385 "Documentation (all): add CDK, Terraform, Serverless Framework, Terraform, Amplify examples"
## Description of the improvement

**Summary of the proposal**

Currently the docs include an example on how to deploy the utility only using SAM but we could provide examples also for other frameworks (CDK, Terraform, Serverless Framework, Terraform, Amplify) as no everyone uses SAM.

Proposed by @ijemmy

**How, where did you look for information**

Homepage & Utility-specific pages

**Missing or

[2022-01-03 18:25] saragerion opened #388 "Docs: improve docs and examples of sample rate feature for Logger"
## Description of the improvement

**Summary of the proposal**

The current version of the docs related to sample rate might be confusing and misleading, as they don't clarify the expected behaviour enough.

**How, where did you look for information**

Github pages docs, sample rate section + code examples

**Missing or unclear documentation**

https://awslabs.github.io/aws-lambda-powertools-types

[2022-01-03 19:27] #378 closed, assigned to saragerion

[2022-01-03 19:31] ijemmy opened #391 "Docs: Cookiecutter project template with TypeScript Powertools setup (with SAM)"
## Description of the feature request

**Problem statement**
Setting up in TypeScript development environment is difficult and require a lot of manual steps. For users who want to test PowerTool without integrating it into an existing TypeScript project, it could take a very long time (hours, or even days to get config right).

**Summary of the feature**
We provide a Cookiecutter template with Typ

[2022-01-03 19:37] ijemmy opened #392 "Documentation (all): Add getting started section on the home page of doc"
## Description of the improvement

**Summary of the proposal**
As a user, I want to see “Getting started” first. I am not interested in Tenets so I find it not so user friendly to have that as the first section when I see the doc. I have to jump to Installation (and then go to individual core utility page) to get start.

I propose having this as the first section in the home page. It should have a

[2022-01-03 19:42] ijemmy opened #393 "fix(logger): LogFormatter isn't exported from Logger module so users cannot use custom formatter feature"
## Bug description
`LogFormatter` isn’t exported from Logger module so I can’t extend the class like in the doc.

![image](https://user-images.githubusercontent.com/61999/147972756-671823d9-ed9f-49b6-949f-ba1f03ff06ed.png)

### Expected Behavior

I can import `LogFormatter`

### Current Behavior
The class isn't exported

### Possible Solution
1. Import it from
2. Ensure that all our tests import c

[2022-01-04 00:28] #388 closed, assigned to saragerion

[2022-01-04 08:10] flochaz opened #396 "Movel all modules to use this new LambdaInterface"

[2022-01-04 09:47] #381 closed, assigned to flochaz

[2022-01-04 15:19] saragerion opened #398 "Feature (all): code performance tests in CI/CD pipelines"
## Description of the feature request
As part of our CI/CD pipelines it would be great to be able to run performance tests over each utility's code.

**Problem statement**

Relying on unit tests and integration tests help increasing the confidence over the production readiness of the code that's been added.
Since we are all humans who make mistakes, additional safety nets integrated via automation

[2022-01-04 15:46] #384 closed, assigned to ijemmy

[2022-01-04 18:48] dreamorosi opened #399 "bug(logger|metrics): decorator not returning decorated class"
## Bug description

When decorating a function with `@logger.injectLambdaContext()` or `@metrics.logMetrics()` like the example below:

[code]

The function above throws a `TypeError` when decorated.

<img width="1277" alt="image" src="https://user-images.githubusercontent.com/7353869/148106000-7e5b366a-bfc2-465b-9b9b-b07d34c93ac8.png">

### Expected Behavior

Being able to call another method of

[2022-01-04 18:58] #396 closed, assigned to flochaz

[2022-01-05 15:51] flochaz commented on #372
DONE !!

[2022-01-05 15:51] #372 closed

[2022-01-05 16:51] Muthuveerappanv opened #413 "RFC: Event Hander - Api Gateway Support"
---

## Description of the feature request
Event Handler Support for powertools-typescript, to handle API Gateway events & Appsync events

## Problem statement
Lambda Powertools for python is a one-stop-shop for all variants of lambda we develop today : api-driven, event-driven, etc. [Event Handler](https://awslabs.github.io/aws-lambda-powertools-python/latest/core/event_handler/api_gateway/) help

[2022-01-05 18:50] michaelbrewer commented on #115
I do like how python powertools has a simple `Makefile`

ie:
- `make dev` - sets up and installs all of the dev dependencies and pre-commit hooks
- `make pr` - does all of the tasks recommended before submitting a PR and includes
   - `make test` - all unit tests including performance tests
   - `make lint` - does all of the linting and security checks
   - `make format` - does all of the code for

[2022-01-05 18:53] dreamorosi opened #415 "bug(all): unable to clone & install for development"
## Bug description

Reported by @michaelbrewer on the [Slack Dev channel](https://awsdevelopers.slack.com/archives/C01A6KK4UFK/p1641407918190900).

<img width="1194" alt="screen_shot_2022-01-05_at_10 45 22_am" src="https://user-images.githubusercontent.com/7353869/148271990-4cc926e9-e609-443d-bf9b-344608400cad.png">

Unable to install package after clean clone of repo, see screenshot above.

### E

[2022-01-05 19:04] michaelbrewer commented on #415
Following Makefile works for me now when i run `make dev`

[code]

[2022-01-05 19:27] michaelbrewer commented on #415
- https://github.com/awslabs/aws-lambda-powertools-typescript/pull/417

A fix is up, to confirm it works just run:

[code]

[2022-01-06 08:44] simonireilly commented on #415
Looks like the packages don't know how to build their references.

[code]
Use this to declare a list of modules this package depends on.

When running `tsc --build` it will build its references first, then import them.

When using vscode it does this in a background thread continuously to maintain accurate intellisense.

I can put a PR in for this, as it's probably the long term fix, over maintain

[2022-01-06 09:14] michaelbrewer commented on #415
@simonireilly  - cool. i just wanted a fix to allow for people to work from the project :)

[2022-01-06 09:15] simonireilly commented on #415
Totally, user experience and pragmatism first 🙏

[2022-01-06 09:53] flochaz opened #418 "chore: automate integration test run"
## Description of the feature request

Integrations tests are not ran automatically.

We should automate integration tests run in github actions (and update CONTRIBUTING.md accordingly) to increase trust in our release process and move towards continuous release.

Today you can run integ tests in each package by
1. exporting your credentials AWS
[code]
1. `cd packages/myModule`
1. `npm run test:e2

[2022-01-06 11:07] dreamorosi commented on #413
Hi @Muthuveerappanv thank you for the request. Feature parity with the Python version is definitely something that we have in mind and we'll be looking at this feature in the future.

[2022-01-06 12:14] michaelbrewer commented on #385
@dreamorosi - maybe at least the most common ones for Typescript today? I assume internally you have some stats on this

[2022-01-06 12:41] saragerion opened #419 "Logger: reduce npm_modules size"
## Bug description
The current bundle size of the Logger library is unnecessarily big. This has an impact on the performance of the Lambda functions (cold starts included).

### Expected Behavior

The node_modules folder has a reasonable size.

### Current Behavior

The node_modules folder is 139M.

### Possible Solution

One of the biggest reasons is the lodash library that is currently a prod de

[2022-01-06 12:41] saragerion commented on #419
Thanks @michaelbrewer for the heads-up!

[2022-01-06 12:44] saragerion commented on #133
As pointed out by @DanyC97, there is an opportunity for us to explore the new beta projects that are set at a github org level.

[2022-01-06 12:53] saragerion commented on #115
Another aspect that we should add in our contributing section: avoiding creating PR's that include code changes that are not related to the specific issue they are trying to address.
Housekeeping shows good intentions, but it does not help us maintainers keeping track of the changes that are released and it's better to create a separated issue/PR for changes unrelated to the original scope.

[2022-01-06 13:09] michaelbrewer commented on #419
of coz we should see what size the packaged lambda is and how small we can make it.

[2022-01-06 13:10] timohirt opened #421 "bug(all): Remove dependency to fsevents"
## Bug description

When I add the powertools to my project, it adds dependency to `fsevents`. On my Mac, running `npm install` defines the platform `darwin` for `fsevents`. The CI build run in CodeBuild and Linux. The build fails because the platfrom doesn't match.

[code]

I want to develop on my Mac and still be able to use Linux in CI.

### Expected Behavior

Npm should install all dependencie

[2022-01-06 13:47] ijemmy commented on #115
Should we put contributing section in the doc?
It's easier to locate and search. But the drawback is that the content has to be in the `docs` folder.

[2022-01-06 13:54] michaelbrewer commented on #115
normally it is in the root dir

[2022-01-06 13:55] flochaz commented on #115
I personally would prefer to be just a link to CONTRIBUTING.md from doc. Dev will first look at this file at root folder of repo.

[2022-01-06 13:57] michaelbrewer commented on #115
I did one for the python project too, makes it super easy to contribute

CodeSpaces config:
- https://github.com/aws/aws-cdk/blob/master/.devcontainer.json

GitPod config:
- https://github.com/aws/aws-cdk/blob/master/.gitpod.yml

[2022-01-06 14:18] dreamorosi commented on #419
Good point, we initially removed the whole `lodash` in favor of smaller packages [as mentioned here](https://github.com/awslabs/aws-lambda-powertools-typescript/issues/139#issuecomment-888284501), but somehow it got reintroduced, I think around the time when we had multiple `eslint` configs.

[2022-01-06 15:04] saragerion opened #422 "All: document lerna commands for local development"
## Description of the improvement
To contribute locally to Lerna projects, developers need to run a number of commands to get their projects up and running locally.
Commands that need to be run include (but not limited to: `lerna bootstrap`).

**Summary of the proposal**

Edit the documentation related to local development to help developers and future contributors getting the project up an runnin

[2022-01-06 15:51] ijemmy opened #423 "fix(metrics): Rename purgeStoredMetrics() function usage in CDK example"
## Bug description
In #377 , we renamed the function from `purgeStoredMetrics()` to `publishStoredMetrics()`.  We missed one reference in the CDK example project. Also, we still use the term `purge` in one of the unit tests.

[code]

### Expected Behavior
There should be no compilation issue

### Current Behavior
There's a compilation issue from `purgeStoredMetrics()` usage

### Possible Solution

[2022-01-06 16:25] flochaz opened #425 "chore(examples): Write and run tests against examples as part of the CI process"
## Description of the feature request

**Problem statement**
Examples are for now only ran manually through manual CDK deploy and manual deployed resource check.

**Summary of the feature**
1. Add E2E tests (following what is done in each packages e2e tests to automate cdk stack deployment).
2. Add a step in CI to run them as part of merge to main.

### Related issues, RFCs

Avoid issue like #423

[2022-01-06 16:49] saragerion opened #426 "All: simplify local development setup"
## Description of the feature request

Right now developers who want to contribute to the repository need to run a number of commands to get the project up and running.
We should simplify this situation by creating a number of scripts that can setup the local environment with all the necessary tasks "with just one command" run in your terminal, and that's it.
I believe the Python repo has already

[2022-01-06 17:13] dreamorosi commented on #421
Hello thank you @timohirt for opening the issue. We'll have to look into it more closely and get back to you.

[2022-01-06 17:57] #423 closed

[2022-01-06 18:01] dreamorosi commented on #115
Did a quick test with `devcontainer` in  VSCode, leaving this here for future reference:

`.devcontainer/Dockerfile`

[code]

`.devcontainer/devcontainer.json`

[code]

[2022-01-06 20:19] TastefulElk commented on #125
Definitely agree with going the modular approach of separate packages. Whilst there's definitely value in keeping reasonably in line with the python implementation, splitting it up into modules will be more flexible for users and tree shaking won't be a soft requirement as the project grows

[2022-01-06 20:47] mhboon opened #435 "bug: CDK examples (metrics & tracer) have outdated references"
## Bug description

In example-function.MyFunction and example-function.MyFunctionWithDecorator
line 9: const metrics = new Metrics({ namespace: namespace, service: serviceName });
service should be serviceName

In example-function.MyFunctionWithDecorator
typo in line 14 @tracer.captureLambdaHanlder() should be @tracer.captureLambdaHandler()

### Expected Behavior
Try out the examples

### Current

[2022-01-06 20:51] saragerion commented on #435
Thanks for opening the issue, well spotted.

[2022-01-06 20:58] dreamorosi commented on #435
@mhboon thanks a lot, we are planning on running tests on our CI for these examples to try to avoid this type of errors in the future, see also #425.

[2022-01-07 00:10] willfarrell commented on #413
@Muthuveerappanv Have you looked at [Middy](https://github.com/middyjs/middy/tree/release/3.x#available-middlewares)? All modules in this repo support a middy-compatible middleware ready to go.

[2022-01-07 05:01] michaelbrewer commented on #413
This would be really cool. Especially if we can do it via some class decorators and keep the UX clean.

[2022-01-07 05:13] michaelbrewer commented on #415
@simonireilly  - i updated the PR to make the project references work
- https://github.com/awslabs/aws-lambda-powertools-typescript/pull/417

@dreamorosi PR is ready to review

[2022-01-07 07:23] heitorlessa commented on #125
For Python Powertools v2, we're exploring modularization as the entire feature set is 1.4M -- however AWS SDK brings 67M alone.

Whether we modularise or not in v2, we'll remove the "utilities" namespace to make it easier to adapt in other runtimes like TS, and .NET in the future -- note that Java does this already cc @pankajagrawal16

[2022-01-07 08:27] #348 closed

[2022-01-07 16:25] michaelbrewer commented on #419
@saragerion there is also a lot of test resources in "commons" that we already have in shared. About 208k worth.

[2022-01-07 16:39] michaelbrewer commented on #115
I would not mind adding a PR for gitpod / CodeSpaces support. To help onboard contributors.

[2022-01-07 17:05] saragerion commented on #115
Just FYI, I created a separate ticket for the scope of "local development" (new contributors onboarding)

#426

[2022-01-07 17:13] dreamorosi opened #443 "chore(build): remove `test` folder from packaged utilities"
## Bug description

This was reported by @michaelbrewer first on Slack, then in [this comment](https://github.com/awslabs/aws-lambda-powertools-typescript/issues/419#issuecomment-1007543790).

At the moment when we package the utilities before publishing we are including potentially unnecessary files like the content of the `tests` folder, example for `Tracer` but that applies also to the other ut

[2022-01-07 17:14] #419 closed

[2022-01-07 17:18] flochaz commented on #443
Hmmm I thought I fixed that when we moved to commons ... I can take a look

[2022-01-07 18:49] michaelbrewer commented on #426
A makefile can have a low onboarding ie: `make dev pr` would install all dev dependencies (which could include dev tools or check requirements and install pre-commit hooks) and prepare for a pull request.

Otherwise something like this would be handy using `yarn` too.

[2022-01-08 10:13] simonireilly opened #445 "RFC: Testing Factories for AWS Data Objects"
## Description of the proposal

There should be a consistent way to produce test fixtures for AWS lambda environments

----

## Name of the core utility (and consequently the folders that contain the libraries):

- `packages/factories`

## Justification

When it comes to making effective use of AWS in unit and integration testing, developers will create data objects which have the interfaces of th

[2022-01-08 23:08] michaelbrewer commented on #445
@heitorlessa it is worth thinking about this across both Python, Java and Typescript (https://github.com/awslabs/aws-lambda-powertools-roadmap/issues/14)

[2022-01-10 11:07] walmsles opened #447 "RFC: idempotency utility"
## Description of the feature request

**Problem statement**
Idempotency is a core Cloud issue that needs a solution to enable stable, fault-tolerant systems that can be affected by repeated transactions.  A true idempotency solution as a utility for Powertools would be really useful for this project based on the function/features of the existing AWS Lambda Powertools for python

**Summary of the

[2022-01-10 12:00] saragerion commented on #445
Thanks for opening this issue @simonireilly. As a former AWS customer, I would like to say that this is something I wanted myself as well, back then.
The team and I will get back to you on this one.

[2022-01-10 13:07] dreamorosi commented on #443
Tried with the latest published version on npm and I can confirm that the `tests` folder is not there, see example below for `logger`:

[code]

Closing the issue for now.

[2022-01-10 13:07] #443 closed

[2022-01-10 13:42] ijemmy commented on #301
PR #377 has solved this.

[2022-01-10 13:42] #301 closed

[2022-01-10 15:04] dreamorosi commented on #447
Hi @walmsles thank you for the request. Feature parity with the Python version is definitely something that we have on our radars. Middy-compliant middlewares are only one of the usages that we want to cover at this stage (with the others being Class method decorators & manual instrumentation) so the feature deserves a closer look.
Please give us some time to discuss this internally.

[2022-01-10 15:54] michaelbrewer commented on #443
@dreamorosi thanks for confirming. Looking forward to testing the latest build

[2022-01-11 08:03] singlewind opened #452 "(tracer): trace data compatible issue with AWS console UI"
## Bug description

AWS console could not load the trace data

Making the trace data posted by tracer to be compatible by AWS console UI.
### Expected Behavior

The json data has been loaded by AWS console UI and generate UI elements.
### Current Behavior

AWS console UI shows "Unexpected error has occurred
We're unable to load segment's data. Try again later."

### Possible Solution

Not sure whe

[2022-01-11 08:11] singlewind commented on #452
A screenshot can explain more things.
<img width="734" alt="Screen Shot 2022-01-11 at 5 57 45 pm" src="https://user-images.githubusercontent.com/7637/148904861-a72b9fc6-0a93-45c0-adc2-693909f6cb34.png">

[2022-01-11 08:39] dreamorosi commented on #452
Hello @singlewind thanks for reporting this. The trace data emitted by `Tracer` should already be compatible with the X-Ray service console, so if this is happening there's definitely an issue.

Would it be possible for you to share a minimal example of how you're using the library so that we can try to reproduce the issue and see what's happening?

[2022-01-11 08:49] singlewind commented on #452
@dreamorosi , here is the code.

[code]

[2022-01-11 08:53] dreamorosi commented on #452
@singlewind great, thanks for providing this. Please allow some time for us to investigate, the team will get back to you on this.

[2022-01-11 09:10] singlewind commented on #452
@dreamorosi no problem at all. I've reviewed the data been generated and compared to the schema. No obvious things get my attention. Of cause, I have limited knowledge of X-Ray. That's why I also submit a ticket to our AWS support as well. To see what has been missed to generate the UI properly.

[2022-01-11 09:21] singlewind commented on #452
Not sure whether this is relevant. `function_arn` and `resource_names` are not properties of `aws` object based on `xray-segmentdocument-schema-v1.0.0.json`.

[2022-01-11 09:25] dreamorosi commented on #452
Just to clarify, the JSON data that you shared above comes from the X-Ray service console? (see screenshot below):
![image](https://user-images.githubusercontent.com/7353869/148916031-8591b7b5-9fd3-4880-936c-2bcea7035dd3.png)

And if so, the issue is that it's not rendering properly?

[2022-01-11 12:17] dreamorosi commented on #168
Pending additional customer's feedback the current implementation of `captureLambdaHandler` decorator & Middy middleware are as follows:
- Decorator adds details about the exception to the current segment, then bubbles it up so that customer's code error is respected.
- Middleware adds details about the exception to the current segment, then continues [Middy lifecycle](https://github.com/middyjs/m

[2022-01-11 12:17] #168 closed

[2022-01-11 22:35] singlewind commented on #452
@dreamorosi the data was pulled from `aws xray batch-get-traces` command. You just remind me something. After check, actually the x-ray console ui is working correctly. It is the cloudwatch console failed to render. Cloudwatch -> Application Monitoring -> Traces.
<img width="734" alt="Screen+Shot+2022-01-11+at+5 57 45+pm" src="https://user-images.githubusercontent.com/7637/149032334-2d1cb8bf-ab2e-

[2022-01-11 22:59] singlewind commented on #452
We can close that issue now. Thanks @dreamorosi for your help. I will chase AWS Cloudwatch team to fix this issue. The library works nicely. One thing we are still looking forward to see improvement is more friendly for currency. At the moment, tracer object is singleton resource in an instance scope. It creates race situation when run code in currency. Thank you again.

[2022-01-12 09:29] #415 closed

[2022-01-12 10:53] michaelbrewer commented on #373
Thanks @dreamorosi  for adding this.

[2022-01-12 14:00] dreamorosi commented on #452
Thanks for the feedback about the concurrency, we'll keep it in mind and we'd appreciate if you could open an RFC issue on this repo to discuss the feature and potentially also expand on some examples of how you'd want to use it.

Regarding the subject of this issue I can confirm that I have been able to see the same issue on the X-Ray console while testing another Lambda function. For now I'll cl

[2022-01-12 14:00] #452 closed

[2022-01-14 10:26] asenousy opened #465 "deps(all): Middy requires special flag in `tsconfig.json` to be imported as esm"
## Bug description

when using middy i get the following error `TypeError: core_1.default is not a function`

### Possible Solution

updating the tsconfig.json with `"esModuleInterop": true` solved the problem as suggested in middy's github Issue https://github.com/middyjs/middy/issues/203

### Environment

* **Powertools version used**: 0.2.0
* **Packaging format (Layers, npm)**: npm
* **AWS Lamb

[2022-01-14 14:25] ijemmy commented on #398
@saragerion  I just discussed with Heitor about this. Some work has been done on Python side. We can reuse this this.

There are two approaches:

1. https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/benchmark/README.md
This uses SAM to deploy two Lambda functions, one with Powertool and another without (line 46-47). Then force a cold start for 20 times (line 61-72) and get the r

[2022-01-14 16:10] #418 closed

[2022-01-14 16:34] dreamorosi commented on #465
Hello @asenousy, thanks for opening this issue. Just for context we are using that same config in the `tsconfig.json` files of our packages (i.e. [here](https://github.com/awslabs/aws-lambda-powertools-typescript/blob/main/packages/logger/tsconfig.json#L16)). We'll be looking at this and get back to you.

[2022-01-14 16:37] flochaz opened #468 "bug(cicd): lerna version is bumping dependencies as well"
## Bug description

On `lerna version`  (https://github.com/awslabs/aws-lambda-powertools-typescript/blob/main/.github/workflows/on-release-prod.yml#L44) lerna bump all packages to new version in `package.json` and `package-lock.json`  but bump as well `@aws-lambda-powertools/commons` in our module package (https://github.com/awslabs/aws-lambda-powertools-typescript/blob/main/packages/metrics/pack

[2022-01-14 18:48] dreamorosi commented on #468
Can we close this after #470 has been merged?

[2022-01-14 19:08] dreamorosi opened #471 "Docs: correctly create segments for parallel processing (i.e. Promise.all[])"
## Description of the feature request

**Problem statement**

As a user I want to use `Tracer` while processing objects in parallel and be able to create a segments, annotate it / put metadata on it, for each one of them.

Originally suggested by @singlewind in #452.

**Code examples**

[code]

**Benefits for you and the wider AWS community**

Faster handling of batch of objects, shorter execution

[2022-01-16 04:23] michaelbrewer commented on #129
@saragerion can we implement something like this for typescript too? This is similar to how python allows for logging the event with the correlationId based a json path

[code]

[2022-01-17 10:29] #435 closed

[2022-01-17 14:22] #393 closed

[2022-01-18 14:46] saragerion opened #482 "Feature (logger): feature parity with Python Powertools"
## Description of the feature request

As addressed in [this comment](https://github.com/awslabs/aws-lambda-powertools-typescript/pull/293#issuecomment-992005781), we should revisit the current features of the Logger to make sure there is feature parity.

Some of the mentioned items are not listed as they are captured by another ticket.

- [ ] Logging incoming event functionality
- [ ] Custom keys

[2022-01-18 15:02] saragerion opened #483 "Maintenance: add tests for child logger attributes"
## Description of the feature request

**Problem statement**

During a 1:1 feedback session it emerged that the current behavior of `Logger.createChild` might not be immediately clear to people approaching the library for the first time. Likewise, the current unit test cases, while reaching 100% coverage, might use some improvements to cover all cases.

The steps to complete this issue should be (

[2022-01-18 15:12] saragerion opened #484 "All: move redundant code and functionalities in shared commons package"
## Description of the feature request
The execution of this issue should be divided into 3 steps:

1. Vet the business logic of Logger, Tracer and Metrics utilities to identify code de-duplication opportunities. Opportunities found so far: cold-start business logic, fetching of environment variables.
2. Add that logic in commons.
3. Remove duplicated logic from the single utilities, in favour of t

[2022-01-19 14:54] revmischa opened #490 "bug(tracer): Unable to use ESM bundling in AWS Lambda / Nodejs 14.x"
## Bug description

If you enable ["ESM" bundling with NodejsFunction](https://docs.aws.amazon.com/cdk/api/v2/docs/aws-cdk-lib.aws_lambda_nodejs.OutputFormat.html) you get this error:

[code]

### Expected Behavior

Would like to use xray with ESM.

### Steps to Reproduce

I'm using middy with the tracer middleware. I get the above error when I set
`format: OutputFormat.ESM`

### Environment

* **

[2022-01-19 15:03] flochaz commented on #490
Thank you for reporting it. We will have a look asap.

[2022-01-20 12:52] #354 closed

[2022-01-21 09:18] flochaz commented on #490
As reported by @dreamorosi, the issue is on xray-sdk side. We will follow https://github.com/aws/aws-xray-sdk-node/issues/482 resolution carefully.

[2022-01-21 10:28] #422 closed

[2022-01-21 11:00] flochaz opened #494 "chore(cicd): release process not updating package-lock.json for examples after bumping deps"
## Bug description

package.json not matching package-lock.json after bump

### Expected Behavior

lerna version should bump package.json and package-lock.json

### Current Behavior

Build failing https://github.com/awslabs/aws-lambda-powertools-typescript/runs/4895012434?check_suite_focus=true

### Possible Solution

### Steps to Reproduce

1.
2.
3.
4.

### Environment

* **Powertools version use

[2022-01-21 13:32] flochaz opened #497 "chore(cicd): make e2e test stack name unique"
## Description of the feature request

**Problem statement**
As of today Stack names in e2e tests are static (see https://github.com/awslabs/aws-lambda-powertools-typescript/blob/main/packages/metrics/tests/e2e/decorator.test.ts#L23 for instance) which prevent us from running multiple instances of e2e against different branches.

**Summary of the feature**
Add a random unique id, a branch name or

[2022-01-24 08:09] flochaz opened #502 "fix(examples): package-lock.json might have been generated with node@16 breaking node@14 user build"
## Bug description

See https://github.com/awslabs/aws-lambda-powertools-typescript/pull/326#issuecomment-1018930741

### Expected Behavior

TBD

### Current Behavior

TBD

### Possible Solution

TBD

### Steps to Reproduce

TBD

### Environment

* **Powertools version used**: 0.4.0
* **Packaging format (Layers, npm)**: npm
* **Debugging logs:** TBD

### Related issues, RFCs

#326

[2022-01-24 08:13] dreamorosi commented on #502
Were you able to reproduce? Same user who reported [opened a PR](https://github.com/awslabs/aws-lambda-powertools-typescript/pull/501) which then he closed after installing `npm@8.x` like the contributions docs say.

[2022-01-24 08:14] flochaz commented on #502
Nope, indeed. closing.

[2022-01-24 19:08] misterjoshua opened #508 "RFC: Event Validation"
# Description of the proposal

There should be a consistent way to validate the structures of inputs and outputs for AWS lambdas.

# Name of the core utility (and consequently the folders that contain the libraries):

* `packages/validation`

# Justification

The "Garbage in, garbage out" principle suggests that we should validate our inputs to prevent "garbage in," and for Lambda, those inputs in

[2022-01-24 19:15] willfarrell commented on #508
Engines:
- https://ajv.js.org/
- https://github.com/ebdrup/json-schema-benchmark (other json schema projects)
- https://joi.dev/

Existing lambda middleware:
- https://github.com/middyjs/middy/tree/release/3.x/packages/validator [ajv]
- https://github.com/willfarrell/middy-ajv [ajv]
- https://www.npmjs.com/package/middy-sparks-joi [joi]

[2022-01-25 09:13] #399 closed

[2022-01-25 09:52] michaelbrewer opened #510 "examples: code examples for logger and metrics have compile errors."
## Bug description

Provided code examples have compile errors. And the to the Tracer from the readme is broken

### Expected Behavior

Code examples should compile

### Current Behavior

Code examples don't all compile

### Possible Solution

Fix code examples

### Steps to Reproduce

1. Click on Tracer link goes to 404
2. metrics / logger examples have compile errors in webstorm and vscode

[cod

[2022-01-25 13:19] dreamorosi commented on #165
Would like to pick up again the discussion about this topic to see if we want to change the current behaviour or not. In case we decide to change I'm available to pick up the task.

The outcome of this discussion should be an agreement on whether `EnvironmentVariablesService.get()` should return an empty string (i.e. `''`) or `undefined` when a given environment variable is not set.

## Context
Th

[2022-01-25 13:48] dreamorosi commented on #425
If we do this we'll need to downgrade the examples to cdk version `1.x` right?

[2022-01-25 14:15] ijemmy commented on #165
Thanks for the thorough context.

Thoughts:

1. I don't have a strong opinion on `undefined` vs. `''`. To me, `undefined` is the correct choice.  The environment variable may intentionally be  `''`.
1. I'm quite concerned on having 3 similar implementations with the same name in 3 packages instead of only one in `common`.  If they are really different and should be in different packages, shouldn't

[2022-01-25 14:57] flochaz commented on #425
yep probably :( that is the reason why I didn't tackled this yet ...

[2022-01-25 17:10] saragerion commented on #165
Assigning `priority:medium` to this issue as we should tackle #484 first

[2022-01-25 18:30] michaelbrewer commented on #115
There is still typos, python references and aws cdk project references.

[2022-01-25 18:33] michaelbrewer commented on #115
Example of referencing `tests/e2e` which does not exist in the repo

<img width="1056" alt="Screen Shot 2022-01-25 at 10 23 54 AM" src="https://user-images.githubusercontent.com/5442469/151037438-30ca1ace-a6a7-49ae-9c9d-66aafaf0232d.png">

Python references, for which there still needs to be a Typescript version of this.

<img width="904" alt="Screen Shot 2022-01-25 at 10 32 53 AM" src="https://us

[2022-01-25 19:49] flochaz commented on #510
Indeed, thx for reporting this, we were planning to potentially remove them since they are duplication of unit tests and global examples.

[2022-01-25 20:35] michaelbrewer commented on #510
Ok. then there is also uploading the Readme, of whether or not to point out these examples or not.

Example projects are really handy if they work :)

[2022-01-25 20:38] michaelbrewer commented on #510
The `Tracer` example also goes to a 404:

<img width="178" alt="Screen Shot 2022-01-25 at 12 36 26 PM" src="https://user-images.githubusercontent.com/5442469/151055738-7884248a-3bc9-4a38-86a2-55b46a09e1b2.png">

[2022-01-25 20:50] flochaz commented on #510
The issue with current per package examples as they are today is that they can't really be copied and paste since their imports point to local implementation (for instance: `import { Logger } from '../src';`) so we were tempted to go more for what is in root `examples` folder to have only "compilable"/"deployable" examples and remove the packages' level one.

[2022-01-25 20:51] flochaz commented on #510
Indeed that bad ...

[2022-01-25 20:59] michaelbrewer commented on #510
Either way the immediate fix is in my PR.

[2022-01-26 09:55] #373 closed

[2022-01-26 10:56] benheymink opened #516 "RFC: New lambda timeout logger utility"
## Description of the feature request

**Problem statement**

A suggestion to implement the equivalent of the [Log Timeout middleware](https://github.com/getndazn/dazn-lambda-powertools/tree/master/packages/lambda-powertools-middleware-log-timeout) from the DAZN power tools. For those unfamiliar, this utility ensures a helpful message is logged out just before (configurable) a lambda function actu

[2022-01-26 11:15] saragerion commented on #398
Thanks for the suggestions @ijemmy!

The approaches adopted for the Python powertool make total sense for the language and its ecosystem (Python powertools utilities being non-modular for example).

In our case, developers choose Node.js also because of its non-blocking I/O, and because it's notoriously lightweight & fast.
Cold start is not the only concern: single code functionalities' performanc

[2022-01-26 15:58] willfarrell commented on #465
In middy v3 (alpha already released) we plan to make esm the default, possibly making this a non-issue.

[2022-01-26 17:06] michaelbrewer commented on #419
I know this issue closed, but i assume for the production release there is plans to see how to minimize the size of the node_modules?  Like how the aws-sdk-v3 is very lightweight: https://aws.amazon.com/blogs/developer/how-we-halved-the-publish-size-of-modular-aws-sdk-for-javascript-clients/

And for non-typescript users? should @types/aws-lambda always be included?

And maybe tips for the lambda

[2022-01-26 17:09] willfarrell commented on #516
I've been wondering if the node lambda runtime itself should handle this using an AbortController with a timer and pass in `{ signal }` into the handler allowing external requests opened during the request to close safely and clean up before running all of the `after`/`onError` middleware. The node lambda runtime isn't OSS, that I know of, so hard to reach out to that team to collaborate. For v3 o

[2022-01-26 17:12] michaelbrewer opened #517 "Feature (all): minimize size of the production lambda-layer or published npm package"
## Description of the feature request

Try to keep the production deployed `node_modules`, without loss of functionality

Related issue: https://github.com/awslabs/aws-lambda-powertools-typescript/issues/419#issuecomment-1022404877

**Problem statement**

Keeping the published npm package as lean as possible will benefit all users in terms of cold start.

**Summary of the feature**

- strip unneed

[2022-01-26 17:22] willfarrell commented on #398
For unit benchmarks pino uses `fastbench`, another popular one is `benchmark`. Neither have been updated in years :(. I know some CI tooling can already integrate with the output of `benchmark`. Here is a sample for `benchmark` (https://github.com/middyjs/middy/blob/release/3.x/packages/core/__benchmarks__/index.js).

For e2e one of your colleagues published: https://github.com/aws-samples/aws-lam

[2022-01-26 17:27] heitorlessa commented on #516
It'd be great to hear customer's interest here. We could certainly use company names (and +1) to help prioritize a feature request to support Lambda Lifecycle Hooks -- that would solve across runtimes and a more reliable solution to handle errors & out-of-band tasks (e.g., think multiple handlers for a given function).

These would be a lightweight alternative to a Lambda Extension. It's also easi

[2022-01-26 19:28] saragerion commented on #517
Thanks for creating this issue.
Good news are that this unit of work is already on our radar and we are looking at several ways in which we can iteratively reduce the size while also keep the size under control in the future. Possible iterations on this effort include some of the tips you mention, and also tree shaking and safety nets in our CI/CD pipeline.

Our team will definitely work on this,

[2022-01-26 19:42] saragerion commented on #398
Thanks for sharing @willfarrell :)

As customer and as AWS employee I worked a lot with K6:
https://k6.io/docs/
https://github.com/saragerion/serverless-voting-app/blob/main/k6/load-test-api-get-videos.js

[2022-01-26 19:42] michaelbrewer commented on #517
i am sure it makes sense once their is stability in the apis, integration and unit testing :). I am sure the community would really appreciate this level of effort. :)

Another useful thing to consider is building some benchmarking to track for regressions.

[2022-01-26 19:44] saragerion commented on #517
100%. Related comment: https://github.com/awslabs/aws-lambda-powertools-typescript/issues/398#issuecomment-1022101795

[2022-01-26 23:22] #510 closed

[2022-01-27 10:53] flochaz commented on #508
Thanks a lot for those inputs ! We will look into it

[2022-01-27 14:39] ijemmy commented on #508
@misterjoshua  Thanks a lot. This is very nice RFC and rich in details.

We plan to catch up with Python feature so this is in our roadmap. The team is focusing in fixing all outstanding issues on 3 core utilities to have Production Ready version. So it may take a while to implement this. However, I would like to use this chance to discuss the feature API so we have a clear spec for implementation

[2022-01-27 18:30] ijemmy opened #518 "(logger): Cold start flag is set to true in subsequent invocations"
## Bug description

When `logger` [capture context information](https://awslabs.github.io/aws-lambda-powertools-typescript/latest/core/logger/#capturing-lambda-context-info), it adds `cold_start` key with boolean value into each log.

I call the same Lambda twice. The `cold_start` value should be `false` after the first call. However, it is still `true` in other calls.

![image](https://user-image

[2022-01-27 20:45] misterjoshua commented on #508
@ijemmy I like the middleware idea - it's familiar to many node devs. I have a few thoughts on the example above:

* I presume that `validateSchema` would have a parameter that accepts your `Validation` instance?
* Also, `handlerBase` wants `GreetingRequest` - would the `validateSchema` middleware strip the envelope?
* I wonder if there's an opportunity here to validate that the envelope is right.

[2022-01-27 21:04] jasonwadsworth opened #519 "Feature request: Include Unwritten Log Entries On Error"
## Description of the feature request
It would be great if the logger could collect some unwritten logs (maybe a configurable amount that defaults to 10 or something) and if there is an `error` logged it would also write any logs that were not already written.

**Problem statement**

I've always hated that the debug logs are never available when I need them. They are typically turned off in a prod

[2022-01-27 22:03] willfarrell commented on #508
Middy takes this approach of separating `normalization` (envelope/Extraction) and `validation`. See [AWS Event support list](https://github.com/middyjs/middy/tree/release/3.x/packages/event-normalizer), we're just missing API Gateway WebSocket events which will be its own middleware at some point. I haven't heard of anyone requesting the ability to `flatMapRecords`, but it could be added pretty ea

[2022-01-27 22:10] willfarrell commented on #445
I've been using [@serverless/event-mocks](https://www.npmjs.com/package/@serverless/event-mocks) for this, there are a few others, all are out of date and not maintained.

[2022-01-28 00:28] niko-achilles opened #520 "Docs: CDK example improvement with best practices"
## Description of the improvement

**Summary of the proposal**

Provide examples that are structured in such a way that
the application code (lambda handlers with aws power tools utilities)
is separated from the stack deployment code.

Developers in order to organize their dependencies
tend to compile application code  with utilities as a process in the pipeline
that executes on an other timepoint

[2022-01-28 02:17] michaelbrewer commented on #445
For Python is have a lot of mocks and sample events. So whichever solution we have in mind it would be great to has the potential for reuse across python, typescript, Java and .Net.

[2022-01-28 05:30] flochaz commented on #520
Thanks for this feedback and proposal, indeed we can do better here. We will look into it

[2022-01-28 05:46] flochaz commented on #519
Thx for your suggestion ! Interesting idea that can definitely help reducing logging cost while having a verbose output on error. we will look into it .

[2022-01-28 10:43] flochaz opened #521 "Feature request: build as esmodule"
## Description of the feature request

**Problem statement**
Powertools is packaged as commonJS which does not give the capability to javascript developers to use esmodule import syntax and feature.

**Summary of the feature**
Now that [AWS Lambda support es module import](https://aws.amazon.com/blogs/compute/using-node-js-es-modules-and-top-level-await-in-aws-lambda/) it might worth generating es

[2022-01-28 13:38] dreamorosi opened #524 "bug(tracer): tracer.captureAWSClient not working consistently with DynamoDB.DocumentClient"
## Bug description

As reported by @flochaz, while using JS, after patching an `AWS.DynamoDB.DocumentClient` like so:
[code]
trying to use the client like `docClient.put()` throws an error `put is not a function`.

In our e2e tests we are testing for the `.scan()` method which works as expected so further investigation is required.

### Expected Behavior

Being able to use all the methods the clie

[2022-01-28 18:24] dreamorosi commented on #524
Was able to reproduce with `aws-xray-sdk-core`.

According to what described in [this issue on the `aws-xray-sdk-node` repo](https://github.com/aws/aws-xray-sdk-node/issues/23#issuecomment-367757094):

The same issue above suggests a workaround which I misinterpreted while implementing PR #450. While `aws-xray-sdk-node` allows to still patch an `AWS.DynamoDB.DocumentClient` it doesn't return it li

[2022-01-28 18:31] dreamorosi commented on #524
As additional detail, this wasn't caught in the integration/e2e tests because I was using the `scan` method which exists and has the same exact name/signature both for `AWS.DynamoDB` and `AWS.DynamoDB.DocumentClient`.

In case of a fix I'll also update the tests to catch this.

[2022-01-30 22:25] peledni commented on #465
A workaround for those of us who can't use "esModuleInterop" : true in tsconfig:
[code]

[2022-01-31 11:58] m-radzikowski commented on #125
I too think that modularisation and separate packages is the way to go.

However, I would suggest also creating a meta-package containing all the modules as dependencies. Think about it similarly to lodash - you can install `lodash` and have everything or install `lodash.clonedeep`, `lodash.merge`, etc. and have only the parts you need.

Why create this meta-package? For simplicity of usage if you

[2022-02-01 16:44] ijemmy commented on #508
@misterjoshua

That's right.

I'm inclined to have two different middlewares for different task.

Is it something similar to this [Built-in envelops](https://awslabs.github.io/aws-lambda-powertools-python/latest/utilities/validation/#built-in-envelopes) in Python version?

If yes, this should be included in the spec.

Can you tell me more about your business use cases?

I haven't seen many use cas

[2022-02-01 16:49] ijemmy commented on #508
Wow, this is pretty good. I'm going to use that in my next project :)

Regarding JSON schemas, let me pass this feedback to the Lambda team.

[2022-02-08 12:13] dreamorosi commented on #484
An internal RFC for centralising the cold start logic in the `commons` package has been created & reviewed by the team. Will be working on a PR in the coming days.

[2022-02-08 13:35] #524 closed

[2022-02-14 11:11] ijemmy commented on #519
I like this idea very much. It addresses my main use case for sampling rate. But it's more cost-efficient and we don't miss anything.

[code]

In this case, the client needs to make sure that they catch any error and print out the log to get it flushed out.

It can be used with Middy's [error-logger](https://middy.js.org/packages/error-logger/), to ensure that uncaught error are always handled.

[2022-02-14 12:27] ijemmy commented on #520
@niko-achilles  Let me make sure that I understand  correctly.

You suggest to separate files that contain Lambda code into into a separated folder. The example is for `cdktf`. If we follow `cdk` [official tutorial](https://docs.aws.amazon.com/cdk/v2/guide/serverless_example.html#serverless_example_create_iam_function), I understand that they keep lambda files in a `resources` folder. So I assume

[2022-02-14 18:41] niko-achilles commented on #520
@dreamorosi

the reasons of this issue / wish / improvement is described on my text when I opened this issue.
In context of a second variant of best practice:  separate application code from infrastructure code.

[2022-02-15 10:04] ijemmy commented on #465
Put this `on-hold` as this will be solved when we upgrade to middy v3.

@saragerion  I wonder if we should make this note in our doc? (for all utils, in middy tab). On the other hand, this is middy specific and [middy v3](https://github.com/middyjs/middy/issues/626) will be released when NodeJS16 is supported in Lambda. We can wait to just upgrade once.

I'm inclined to wait and upgrade as we aren

[2022-02-15 15:49] ijemmy commented on #353
We have e2e tests for logger now (PR #529)

@saragerion I understand that we have already had logger example in `examples/cdk` ([here](https://github.com/awslabs/aws-lambda-powertools-typescript/blob/18228d52bd20a9aa40e64e88fa7b6dea67d8266c/examples/cdk/src/example-function.MyFunction.ts#L10)).

Or do you mean moving the examples from `packages/logger/examples` to `examples/cdk`? In that case, is

[2022-02-15 16:03] ijemmy commented on #497
@flochaz  I'm going to refactor metrics & tracer e2e tests to be like logger (using uuid). I can take over this if you're ok.

[2022-02-15 16:15] ijemmy commented on #520
@niko-achilles

Because the official tutorial uses that word. And I don't know if there is a global standard on naming best practices yet.

[2022-02-15 16:15] ijemmy commented on #520
This is clear to me now. Thanks!

[2022-02-15 17:56] willfarrell commented on #465
Using ESM by default in Middy *was* the plan. However ...

(a) Recent discoveries that Lambda with ESM cannot access node_modules pre-bundled in the runtime or shared in a lambda layer has made us stop and rethink. This isn't documented anywhere that I know of :(. I've reported this regression to AWS Support and was told to use v3 of the SDK instead.

(b) We would consider migrating to using v3 of

[2022-02-16 14:26] ijemmy commented on #520
Let me summarise this so we have actionable items

**Reason for this change**
1. We should separate application code from infrastructure code.
2. The example is hard to understand as it is. Readers must know:
  * That `functionName` param is used (implicitly) to refer to the file name
  * There are many files in a single folder and no logical grouping. Nothing indicate that the file is a lambda fu

[2022-02-16 14:31] ijemmy commented on #520
One more thing, I prefer that we don't keep transpiled JS files in Git repo.

[2022-02-16 14:49] niko-achilles commented on #520
the transpiled files not.
But the mechansims to build in a folder like dist and the command to build the application code  should be in the examples, so that when i download the code i can execute the command , see the build in the dist folder.
The deployment infrastructure code should reference the files inside the dist folder.

[2022-02-16 15:01] saragerion commented on #520
I agree with what @ijemmy said [here](https://github.com/awslabs/aws-lambda-powertools-typescript/issues/520#issuecomment-1041546401).

Thanks @niko-achilles for opening this issue.

[2022-02-16 15:19] niko-achilles commented on #520
i also can derive from my code base, some examples that use powertools with javascript and typescript. When you decide on the structure i can contribute , ping me in case you need some support , respecting the time to release a production ready lib of powertools.

// cc. @ijemmy , @dreamorosi @saragerion

[2022-02-21 11:22] dreamorosi opened #565 "bug(logger): standardize extra input logging"
## Bug description

As described in [the docs](https://awslabs.github.io/aws-lambda-powertools-typescript/latest/core/logger/#appending-additional-log-keys-and-values-to-a-single-log-item) `Logger` accepts a second parameter that allows to append additional keys and values in a single log item.

This works when passing an object, for example `logger.info('my-message', { data: 'my-value' }); ` resu

[2022-02-21 11:23] dreamorosi commented on #565
The proposal in the "expected behaviour" section is not final and can be discussed. Ideally would appreciate whoever picks up the issue to engage with the maintainers to discuss options and implementation before going for a PR.

[2022-02-21 12:32] ijemmy commented on #565
@dreamorosi  In the expected behavior, this example:

`logger.info('my-key', 'my-value');`

Do you actually mean this?

logger.info('my-message', 'my-value');

[2022-02-22 15:14] awsdb commented on #565
@ijemmy I'd like to take this one. Let me describe my proposal for the log format for extra strings and arrays. I'll get back to you for a review before implementing it.

[2022-02-23 10:06] awsdb commented on #565
@ijemmy @dreamorosi  Here's my proposed log format for these use cases. In a nutshell: every additional input without a key gets an auto-generated key `extra_data` with a zero-based index as suffix. Please let me know if you agree or want to change something.

Examples:
- One additional string: `logger.info('my-message', 'my-value')`
[code]
- Multiple strings: `logger.info('my-message', 'my-first-

[2022-02-23 10:28] saragerion commented on #565
Thanks for detailing your proposal @awsdb.
To give more context, currently the logger parameters support these formats:
https://github.com/awslabs/aws-lambda-powertools-typescript/blob/main/packages/logger/tests/unit/Logger.test.ts#L287

[code]

The current logic of the logger assumes that if you pass a string as first parameter, that string represents the value of the message key in the structure

[2022-02-23 10:52] awsdb commented on #565
Thanks for the explanation @saragerion.
As stated by @dreamorosi, this issue addresses the logger behavior when callers provide a plain string or an array as additional input (instead of an `Error` object or a dict).
This is possible because the type is not really restricted:
[code]
As I mentioned above, we could restrict the extra objects to the cases you describe (`Error` and key-value pairs). B

[2022-02-23 11:02] dreamorosi commented on #565
Thanks @saragerion for clarifying, I was not aware that examples 3 & 4 in your code snippet were possible. From my side I just wanted to highlight again that I don't have ant strong preference towards my proposal.

What I would expect as user would be to either the types telling me I cannot pass a string or else if it's accepted to not break it down into characters in the JSON.

Also definitely co

[2022-02-23 13:52] ijemmy commented on #565
@awsdb

I've discussed with maintainers. We have to make a trade-off here. And we prefer consistency with other PowerTool even it means a breaking change (as we're still in Beta).

Here's the scope of this issue:

1. Use "extra" field if the customers passes two string (one for message, one for extra)
2. Let's refrain from having multiple extras (e.g. `extra0`, `extra1`, etc.) This is not common i

[2022-02-23 15:56] jasonwadsworth commented on #519
Yes, it is definitely dependent on the code catching and logging an error.

Came across [this repo](https://github.com/robdasilva/lesslog), which is doing what I'm talking about here. Doesn't seem too bad in this example, but I haven't looked at the logging code in this repo to see how complex it might be here.

[2022-02-24 12:48] dreamorosi opened #590 "Bug (logger): e2e test invocation always forces cold starts"
## Bug description

The [current implementation of the helper function that invokes functions](https://github.com/awslabs/aws-lambda-powertools-typescript/blob/main/packages/logger/tests/helpers/e2eUtils.ts#L73-L91) deployed as part of the e2e test of the logger calls the functions in parallel. This has the potentially unintended effect of always forcing cold starts in the functions. This happens

[2022-02-25 20:08] michaelbrewer commented on #391
@dreamorosi sam now supports Typescript. So it might be a good time to add this :)

[2022-02-26 10:05] dreamorosi commented on #391
See https://github.com/aws/aws-sam-cli-app-templates/pull/193

To manage expectations: this is still in a preliminary phase as TS was just added to SAM and there's a few things we want to settle on our side before merging that PR, but we're on it.

[2022-02-28 13:35] #518 closed

[2022-02-28 14:25] dreamorosi commented on #484
First batch of changes regarding the cold start heuristic have been implemented in `commons` and released in `v0.6.0`, adoption in other utilities will be released with `v0.7.0` in the coming days.

[2022-02-28 14:36] dreamorosi commented on #421
Hello @timohirt I've been looking at this and I'm unable to reproduce. Could you please confirm that this is still an issue using the latest version on `main` and using `node@14.x` together with `npm@8.x` as described in the `CONTRIBUTING` document?

We are also using linux in our CI/CD and it seems to not be an issue.

[2022-02-28 14:38] dreamorosi commented on #465
At the moment this project does not guarantee support for ESM builds, we have a dedicate issue to track this topic which you can subscribe to get updates: #521

Closing this issue.

[2022-02-28 14:38] #465 closed

[2022-03-01 08:44] saragerion opened #606 "Examples: add SAM support in examples folder"
## Description of the feature request

Add examples of usage of the utilities in the `examples` folder.

**Problem statement**

**Summary of the feature**

- Infrastructure
- Lambda handler(s) code in TypeScript
- Readme with deployment guide
- References to this sample in the project documentation

**Code examples**

CDK example for reference:
https://github.com/awslabs/aws-lambda-powertools-type

[2022-03-01 08:48] dreamorosi commented on #606
Thank you Sara for opening the issue, as soon as we have a resolver please ask them know if they could leave a comment here so we can assign the issue & mark it as "in progress".

[2022-03-01 08:59] bpauwels commented on #606
I will be picking up this issue

[2022-03-01 09:02] flochaz commented on #606
I gave it a try few weeks ago if it can help : https://github.com/flochaz/powertools-javascript-sam-sample

[2022-03-03 09:46] dreamorosi opened #616 "Bug (metrics): metrics might not respect the 100 metrics x log limit"
## Bug description

Opening this issue to firstly investigate if the bug exists in `Metrics`, then based on result decide on an implementation.

### Expected Behavior

`Metrics` to be able to handle >100 metrics and split them into the appropriate number of logs so to be compliant with the [EMF spec](https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Embedded_Metric_Format_S

[2022-03-03 11:05] saragerion opened #617 "Maintenance: simplify and revisit tsconfig files & settings"
## Description of the feature request

Right now the tsconfig files located in the folder of each utility (Logger, Metrics, Tracer) have repeated settings with some differences.
Example: `resolveJsonModule` in the Logger utility, but there might be others.
Would be good to revisit the current tsconfig setup and the way we transpile our code.

**Problem statement**

Inconsistent, potentially unnece

[2022-03-03 20:48] saragerion opened #624 "Documentation (all): change project name to "AWS Lambda Powertools for TypeScript""
## Description of the improvement

**Summary of the proposal**

Rename different project references:

- AWS Lambda Powertools (TypeScript)
- Lambda Powertools TypeScript
- AWS Lambda Powertools TypeScript

To:
AWS Lambda Powertools  for TypeScript

See related RFC for more information

**How, where did you look for information**

- Readme files (root folder, nested project folders)
- Mkdocs files

[2022-03-04 10:12] timohirt commented on #421
Hello @dreamorosi! It works for me now. Thanks!

[2022-03-04 10:12] #421 closed

[2022-03-06 13:44] goverdhan07 commented on #617
Hi @saragerion! as far as I have understood, this issue is regarding making one common file for tsconfig for all three folders(Logger, Metrics, Tracer) which has similar settings, and extend individual/different settings in each of the folder through new tsconfig files. ryt? please let me know if I'am missing something here :) Thanks!

[2022-03-08 09:09] dreamorosi commented on #617
@goverdhan07 thanks for commenting the issue, I understand that what you're mentioning is correct but there might also be some settings in the `tsconfig.json` files that are unnecessary and that might be possible to remove. Ideally we'd need to go through all of them, extend when possible and remove when redundant.

[2022-03-08 16:12] awsdb commented on #617
Also note that there are some additional `tsconfig` files like `tsconfig-dev.json` and `tsconfig.es.json`. If they are not needed, the could be deleted. And another note: `tsconfig.json` only includes `"src/**/*"` but not `tests`, so all the compiler settings (like e.g. `"strict": true`) won't be applied to the test code which is a bit unfortunate (e.g. no consistent live linting in VSCode for tes

[2022-03-08 16:13] ijemmy opened #644 "Bug (metrics, tracer): avoid fixed-time waiting in our E2E testings"
## Bug description
Currently, our E2E tests are very flaky (fail about 40-50% of the time) due to fixed waiting time. This happens in both metrics and tracers E2E tests.

For example, `tracer.test.ts` waits for 2 minutes before finishing the `beforeAll()` function.

![image](https://user-images.githubusercontent.com/61999/157275005-0804bb21-5bf3-4856-b00a-7e6c74c2e5b1.png)

Sometimes, the trace co

[2022-03-08 16:16] ijemmy commented on #644
Discussed with @awsdb . He'll take this issue.

[2022-03-08 16:32] #426 closed

[2022-03-08 16:50] dreamorosi commented on #644
@awsdb could you leave a comment so I can assign the issue to you? (apologies for bothering you with this but GitHub doesn't let me add you if you haven't interacted with the issue first).

[2022-03-09 08:20] awsdb commented on #644
@dreamorosi That's strange. Anyway, here's my comment - happy to work on this issue!

[2022-03-09 18:18] caioquirino opened #646 "Support New Relic (all): Add Support to other observability providers"
## Description of the feature request

**Problem statement**
We have used the js version of lambda-powertools for a long time already in DAZN, and now we have most of the Back-end teams working with typescript instead of javascript directly. With that said, the interest in adopting this project is really high, and it is useful for many areas already. In order to make the best adoption of this amaz

[2022-03-09 22:31] dreamorosi commented on #646
Hi @caioquirino thank you for opening this issue and formalizing the request!

As we have mentioned during our meeting with the Backend Guild this is something that we are keen to consider.

Please allow us some time to discuss this internally and we'll be back to you and the team.

[2022-03-10 08:31] saragerion commented on #646
Thanks for opening this issue @caioquirino!

[2022-03-11 10:34] #353 closed

[2022-03-11 16:38] awsdb commented on #565
I believe we can resolve this one, because the corresponding PR is already merged.

[2022-03-13 19:12] TessavWalstijn commented on #143
Hey I'm interested in picking up this issue

[2022-03-13 19:24] saragerion commented on #143
That's awesome @TessavWalstijn!

Before you start working on the code, allow me one or two days to update this issue description to add more details.
cc: @dreamorosi @heitorlessa

[2022-03-14 09:35] #565 closed

[2022-03-14 10:15] awsdb commented on #590
Happy to help with this one!

[2022-03-14 10:21] ijemmy commented on #590
I'm also supportive of option B.

In Logger, we have a sample rate testing. In this case, I did it in parallel as I have to run Lambda 20+ times.

[2022-03-14 16:08] Muthuveerappanv opened #664 "Bug (logger): Importing Common Index in Logger Folder raises Module Error"
## Bug description

1. `npm production` package of `powetools-logger' is breaking in 0.0.7, due to importing commons package in [Logger.ts](https://github.com/awslabs/aws-lambda-powertools-typescript/blob/v0.7.0/packages/logger/src/Logger.ts#L2)
2. Error due to the `tests` export that are part of the [commons/index](https://github.com/awslabs/aws-lambda-powertools-typescript/blob/main/packages/com

[2022-03-14 18:28] #590 closed

[2022-03-15 10:16] ijemmy commented on #519
There is a blog about this. Useful for implementation reference: https://dev.to/aws-builders/saving-on-aws-lambda-amazon-cloudwatch-logs-costs-51od

Notice the `clear()` function or the logs can leak to the next Lambda call.

[2022-03-17 11:16] awsdb commented on #306
As discussed with @ijemmy, I'd be happy to support with this one.

[2022-03-17 11:35] lulzneko opened #666 "Feature (logger): output text of the message in addition to log keys and values in the log"
## Description of the feature request
The current log output shows the context and additional keys and values.
The message text passed to the logger is stored in the `message` of the keys and values and is logged as part of the object.

This `message` should be logged as text, not just as part of the object output in the log.

**Problem statement**

The `message` that should be read first in the l

[2022-03-17 16:19] #143 closed, assigned to TessavWalstijn

[2022-03-17 18:08] orozcoadrian commented on #666
(I'm not a maintainer of this repo. Just giving my 2-cents)
Possible workaround: Use the cloudwatch insights console with a query that shows the `message` field separately. For example:
[code]

[2022-03-18 10:50] ijemmy commented on #484
We'll focus on moving the EnvironmentVariable helper class and close this ticket for Production Release.

[2022-03-18 11:12] flochaz commented on #425
[Current workflow](https://github.com/awslabs/aws-lambda-powertools-typescript/blob/main/.github/workflows/run-e2e-tests.yml#L48) is giving enough confidence by relying on typescript build to test example don't get broken by new release pkg.

[2022-03-18 11:12] #425 closed

[2022-03-18 11:22] ijemmy commented on #115
Most of the items are addressed. Any other future improvement will be their own issue.

[2022-03-18 11:22] #115 closed

[2022-03-18 11:41] awsdb commented on #306
Here is my proposal how we could structure the labels for issues and pull requests. Please let me know if you'd like to change something!

# Labels

## General

Label | Applies to | Comment
--- | --- | ---
good-first-issue | Issues | Something that is suitable for those who want to start contributing
help-wanted | Issues | We would really appreciate some support from community for this one
breakin

[2022-03-18 13:58] saragerion opened #672 "Feature (dependabot): ignore available updates for CDK v2 and reduce frequency of new PRs"
## Description of the feature request

Context - Dependabot
We use dependabot for version updates:
https://docs.github.com/en/code-security/dependabot/dependabot-version-updates

Our current dependabot configuration can be found here:
https://github.com/awslabs/aws-lambda-powertools-typescript/blob/main/.github/dependabot.yml
Our team merges or rejects PRs automatically opened by the dependabot ar

[2022-03-18 14:08] saragerion opened #673 "Bug (github actions): publish to github pages failed step"
## Bug description

This morning the API spec page was returning 404:
https://awslabs.github.io/aws-lambda-powertools-typescript/latest/api/

I noticed that this job, triggered by release v0.7.1, failed: https://github.com/awslabs/aws-lambda-powertools-typescript/runs/5586151464?check_suite_focus=true

After re-running the failed job, the job completed successfully and the API docs page was restor

[2022-03-18 14:58] dreamorosi commented on #672
Just an additional nuance to complement the CDK topic: we are using CDK v1 in the integration tests of the utilities (i.e. under `packages/logger/tests/e2e/`), this is rolled up into the `package.json` & `package-lock.json` in the root of the project ([here](https://github.com/awslabs/aws-lambda-powertools-typescript/blob/main/package.json#L50-L53)).

We are instead using CDK v2 the examples (unde

[2022-03-18 15:06] dreamorosi commented on #306
Thanks @awsdb for the thorough proposal, I like it so far! Few notes/questions:
- Do you think it would make sense to add a `scope/examples` label, or would these fall under `scope/docs`?
- Would it be possible to try to label new issues with `package/*` & `type/*` based on the title? I know this won't work 100% of times but since we have templates in some cases it might work.
- What would happen

[2022-03-18 15:10] bpauwels commented on #606
I have just created the following PR: https://github.com/awslabs/aws-lambda-powertools-typescript/pull/674

As a reference, I used the API example that comes with AWS SAM. I have translated it into TypeScript and added the Powertools-Features to it.

[2022-03-18 16:34] dreamorosi opened #675 "Feature (tracer): ability to capture HTTP requests"
## Description of the feature request

**Problem statement**

As a customer using `Tracer` I want to be able to trace HTTP requests made to hosts/APIs just like I do with AWS SDK clients.

**Summary of the feature**

Other runtimes support this feature and currently Powertools for TypeScript supports it as well via the escape hatch mechanism:

[code]

This unit of work aims at adding a more ergono

[2022-03-21 14:46] awsdb commented on #306
Happy to discuss the points you mentioned, @dreamorosi!

- `scope/examples`: I think, we can decide what better suits our needs - `scope/examples` is more descriptive, but at the same time it adds a new label that doesn't much differ from `scope/docs`. Examples could be also seen as documentation, but they are of course somewhat different from the actual docs published. What would you prefer - a d

[2022-03-22 08:58] lulzneko commented on #666
This can be accomplished by passing a message as the first argument and the object currently being logged as the second argument when calling a console.log type function.

In the v0.7.1 implementation, this part should be as follows
https://github.com/awslabs/aws-lambda-powertools-typescript/blob/v0.7.1/packages/logger/src/Logger.ts#L451
[code]

If it is okay with this change, I would like to subm

[2022-03-31 08:13] VRMink commented on #391
@michaelbrewer, do you have a link describing typescript support in SAM?
As this issue suggest, I have just spent 2 days trying to get SAM to play nice with TypeScript, I came here to see how you guys had managed to do it, and to adopt your Powertool.

Looking forward to seeing this solution come alive, till then I will be using JS

[2022-03-31 08:35] michaelbrewer commented on #391
@VRMink https://aws.amazon.com/blogs/compute/building-typescript-projects-with-aws-sam-cli/

[2022-03-31 09:03] dreamorosi commented on #391
Hello @VRMink we are also working on adding SAM examples to this repo, you can track progress under [this PR](https://github.com/awslabs/aws-lambda-powertools-typescript/pull/674).

[2022-04-05 09:12] saragerion opened #724 "Docs: add supported values for env variables"
## Description of the improvement

**Summary of the proposal**

In all sections where the supported environment variables are documented for a certain utility, it would be helpful to clarify what values are supported, the default values, and an example of a supported value.

**How, where did you look for information**

https://awslabs.github.io/aws-lambda-powertools-typescript/latest/#environment-

[2022-04-05 16:08] jasonwadsworth opened #728 "Feature (logger): Auto Mask Secrets"
## Description of the feature request

Automatically mask secret or password values in extra data.

**Problem statement**

A best practice is to never log secrets or passwords. There are times when I have an object that might have one of these things in it. I'd like to be able to pass in the object without needing to pull out the secrets manually.

**Summary of the feature**

If turned on, any ext

[2022-04-05 17:41] michaelbrewer opened #729 "Docs: Extract code examples into separate files for linting"
## Description of the improvement

**Summary of the proposal**

Code examples should be extracted to allow for validation / linting to help prevent errors.

**How, where did you look for information**

See
- https://github.com/awslabs/aws-lambda-powertools-python/issues/1009
- https://github.com/awslabs/aws-lambda-powertools-python/issues/1064

**Missing or unclear documentation**

**Improvement**

[2022-04-05 19:18] willfarrell commented on #728
I agree that credentials should not be logged as per [ASVS 7.1.1](https://github.com/OWASP/ASVS/blob/master/5.0/en/0x15-V7-Error-Logging.md#v71-log-content). There are other types of data that should not be logged as well based on who owns the data or where it is stored.

My question would how would you automate this?
a) Have a list of keys that should be hidden? English speaking developers might

[2022-04-05 19:45] dreamorosi commented on #729
Hi Michael, first off thanks for opening an issue to discuss the proposal.

I think this idea is valuable, I got bitten by this a few times already and having the same linting rules applied to the code snippets would help.

I have a few questions though, mainly coming from my limited knowledge of MKDocs:
1. If we separate the files can we still see them in context when authoring the docs locally?

[2022-04-05 19:51] michaelbrewer commented on #729
It would be option 2, each example would have it’s own file. You might have shared examples, but a PR per page makes sense.

[2022-04-05 21:14] michaelbrewer commented on #729
@dreamorosi example PR is up #730

[2022-04-05 21:42] dreamorosi commented on #729
Thanks for the PR, but I still would like to clear all the other points before start to review:

Specifically I'd like to understand how/when we are going to actually lint these files.

At the moment I don't have yet a clear picture aside from just splitting the files and if there's no linting then having multiple files just makes it harder to maintain.

[2022-04-05 21:45] dreamorosi commented on #728
Hi @jasonwadsworth thanks a lot for the feature request.

We have had a similar feature on the radar for all the runtimes, although it seems this one has a more reduced scope. You can find more details in this other issue https://github.com/awslabs/aws-lambda-powertools-roadmap/issues/12

I'm 100% on board and in favor of the concept of not logging secrets and leaving the responsibility to the dev

[2022-04-05 22:53] michaelbrewer commented on #729
Linting would be hard if you are doing something too strict (like unused variables), but at least it should handle syntax errors, missing parameters etc..

[2022-04-05 23:33] jasonwadsworth commented on #728
I searched for something like this and didn't find it. Thanks for the link to the roadmap. Also completely understand on timing. This was just something that came up today so I thought I'd add it.

This is one case where I'd like to make it easier for devs to *not* make mistakes, so it would be nice to not leave it to the devs. Having it at the configuration point of creating the logger would be g

[2022-04-06 15:51] michaelbrewer commented on #729
@dreamorosi so far, i have already found a couple issues like the indents and the same yaml not being valid.

One option could be to configure a more lenient tsconfig to focus on compile errors. However you might still run into errors like:

<img width="1845" alt="Screen Shot 2022-04-06 at 8 49 30 AM" src="https://user-images.githubusercontent.com/5442469/162015877-3a020dc0-8a67-46ad-a490-8c32d2a1

[2022-04-06 16:16] dreamorosi commented on #729
Thanks for looking into it. I'd like to hear the opinion of the other maintainers as well since it seems that there's no clear-cut way and I'm not clear on whether the overhead of having many more files is worth the gain.

Finally as I have mentioned in my first comment, this is a low priority ticket so please expect some delays in the responses.

[2022-04-06 16:22] michaelbrewer commented on #729
Sure, i get the delay, maybe discuss with the maintainers:
What is the objectives of the code examples? Should they be runnable or only valid syntax?
It is easier to open and edit an example in VSCode with a `.ts` extension or just inline edit within the `.md` files?

The part that is frustrating to me is when an example does not have a valid syntax, or in the case of YAML not linted and has inval

[2022-04-06 20:35] saragerion commented on #306
Hi @awsdb,
first of all thanks a lot for picking up this issue and detailing your proposal.
I noticed that the labels syntax has changes from `key:value` to `key/value`. I don't have a strong opinion about it, but do you find it more readable?

Are the possible values mutually exclusive? I am assuming not.
For PRs, it would be nice to add labels automatically based on changes happened on specific

[2022-04-06 21:18] saragerion commented on #729
Thanks for opening this issue @michaelbrewer. This is an improvement that can potentially make sure our docs have better linted examples (which is a very good thing!).

The team is currently busy with other units of work with higher priority for the short term (GA), and we'll discuss about this and get back to you once we have the padding.

[2022-04-06 22:08] michaelbrewer commented on #729
Sure thing already run a couple more issues in the docs.

So i can either file issues for them or keep it fixed in the 1 PR #730

Bugs so far for Tracer docs:
- fix indents to match the projects code style of 2 spaces (minor)
- fix the sam `template.yml` example, by adding missing fields (`handler`, `AWSTemplateFormatVersion` etc.)
- fix missing import for `Context` tracing https requests example

[2022-04-07 10:17] dreamorosi commented on #306
Agree with @saragerion here, I think automation is key to this topic. This way we can create a mechanism, on which we can iterate to improve it overtime, instead of relying on good intentions.

Not saying it has to be part of a single PR, I'd be happy to have one to set up labels and later automation but I'd like to at least get the ball rolling on this area before considering the issue as complet

[2022-04-07 12:34] awsdb commented on #306
Thank you for the feedback @saragerion! Let me answer your questions.

It's rather `category/value` than `key:value`. E.g. compare with branch names like `feature/something` or `bugfix/something`. But we can surely use a colon instead of a forward slash keeping the key-value paradigm in mind - it's actually a matter of taste.

I'd propose to keep them mutually exclusive (also for brevity). The sco

[2022-04-07 20:03] dreamorosi commented on #675
Merged in #677, will be available in next release.

[2022-04-07 20:03] #675 closed

[2022-04-08 08:16] apaidipa opened #745 "Bug (Tracer): Lambda function not tracing the code"
## Bug description
Tracer not capturing the annotations and metadata inside lambda function, However it does capture the top level lambda traces.

### Expected Behavior
Trace metadata, annotations inside my lambda function.

### Current Behavior
Currently only top level lambda traces are captured.

### Environment

* **Powertools version used**: 0.7.2
* **Packaging format (Layers, npm)**: Yarn
* *

[2022-04-08 09:35] dreamorosi commented on #745
Could you please provide a minimal example of your function code to reproduce the issue? I'm interested especially in seeing how you have instrumented the function.

[2022-04-08 11:05] dreamorosi commented on #745
@apaidipa (also AWS employee) shared the code privately as it was close source and could not be shared publicly.

I was able to troubleshoot the issue and conclude that it was not in fact, a bug of Tracer but rather an issue with the implementation.

To benefit future readers, this particular implementation was using [manual instrumentation](https://awslabs.github.io/aws-lambda-powertools-typescri

[2022-04-08 11:05] #745 closed

[2022-04-08 11:20] olanb7 opened #747 "Feature (logger): logger should write to stdout directly"
## Logger should write to stdout, and not use console

**Problem statement**

The powertools logger is currently outputting it's logs via `console` [Logger.ts#L451](https://github.com/awslabs/aws-lambda-powertools-typescript/blob/8aab29900c5fac8eb625eb747acbc23ceac8f6ba/packages/logger/src/Logger.ts#L451). Lambda appears to use a patched version of `console` which prefixes the timestamp, requestId

[2022-04-08 12:15] saragerion commented on #747
Thanks a lot of opening this issue. We want developers to be able to send their logs to external centralised monitoring tools, and for that they need to be parsed correctly as valid JSON not only by CloudWatch.

As part of the unit of work of this issue we could consider also adding an E2E tests that validates the output of the logs as valid JSON.

[2022-04-08 15:15] dreamorosi commented on #747
We were able to come up with a fix and avoid having the prefix on the logs by overriding the global `Console` object.

I'm working on a PR to fix this and have already applied the change, but it'll take me a while to adapt our tests to reflect the changes.

You can track progress in #748.

[2022-04-08 20:10] cortexcompiler opened #749 "Feature request: Add support for captureMySQL"
## Description of the feature request

Add `captureMySQL` support to the Tracer or add it to the ProviderServiceInterface

**Problem statement**

As a user I would like to trace MySQL queries leveraging the powertools Tracer.

**Summary of the feature**

I appreciate the encapsulation of X-Ray that is enabled through Tracer and would like to use it more fully.  Rather than using `captureMySQL` fro

[2022-04-10 14:34] AlessandroVol23 opened #750 "Question (Logger): How to pass log extra input without type errors"
## Bug description

I want to log extra data, so I pass it to the logger. For example:

[code]

The line with the `logger` has the following type error:

[code]

**I get why this error is coming but what is the expected way of doing that?**

Logging extra input that is not of type error or string.

### Expected Behavior

No type error if it is another type than error or string since it can be easi

[2022-04-10 15:28] dreamorosi commented on #750
Hello @AlessandroVol23 thanks for your interest in Powertools!

In order to log extra data, and specifically an object, you can use this syntax:
[code]
The above results in these CloudWatch logs:
[code]

You can find more examples of how to append data to your logs in [this section of the documentation](https://awslabs.github.io/aws-lambda-powertools-typescript/latest/core/logger/#appending-additi

[2022-04-11 08:05] krivachy opened #751 "Feature (logger): pretty printing logs in local development"
## Description of the feature request

Have the ability to pretty print log statements when running lambdas locally. This would make local development nicer.

**Problem statement**

The logger module always prints out JSON which is required for CloudWatch, but not a nice experience when running a lambda locally. It is hard to parse the JSON that is printed in a single line.

There is no way to ove

[2022-04-11 10:38] dreamorosi commented on #751
Hi @krivachy, thanks for opening an issue and proposing the feature.

I can see where you are coming from and what is the use case you're suggesting. I haven't formed an opinion on the topic yet though; the comments that follow are aimed at having an open discussion to evaluate options.

On one hand structured logging is [one of the key features of this opinionated logger](https://awslabs.github.i

[2022-04-11 11:49] dreamorosi commented on #749
Hi @cortexcompiler, thank you for the feature request.

At the moment Tracer depends only on [`aws-xray-sdk-core`](https://github.com/awslabs/aws-lambda-powertools-typescript/blob/main/packages/tracing/package.json#L50), this choice was made to keep dependencies and deployment size low.

The X-Ray SDK also vends separately [`aws-xray-sdk-postgres`](https://www.npmjs.com/package/aws-xray-sdk-postgr

[2022-04-11 13:33] AlessandroVol23 commented on #750
Ah I just used it wrong. Thanks for the clarification! 😃

[2022-04-11 13:33] #750 closed

[2022-04-12 06:34] krivachy commented on #751
Thanks for your detailed response @dreamorosi. Having this lib a very opinionated logger makes sense.

Building in pretty printing would be a good solution, even if it doesn't support all of the fancy features that other pretty printers.

How would you detect if it's running in a lambda vs. not?

[2022-04-12 07:41] dreamorosi commented on #751
The Tracer utility already does this ([see here](https://github.com/awslabs/aws-lambda-powertools-typescript/blob/main/packages/tracing/src/Tracer.ts#L791)).

It basically consists of some heuristics logic around environment variables. For example, the AWS Lambda execution environment always sets an `AWS_EXECUTION_ENV` variable ([source](https://docs.aws.amazon.com/lambda/latest/dg/configuration-e

[2022-04-14 08:42] dreamorosi commented on #672
First part of this issue has already been addressed in #676 so we are not using CDK v1 anymore in this repo.

[2022-04-14 11:00] #747 closed

[2022-04-14 11:01] dreamorosi commented on #747
The change has been merged in #748 and will be released in the next version.

[2022-04-14 12:11] dreamorosi commented on #729
Hi @michaelbrewer, I see value in the idea behind the proposal (extract the code snippet so we can apply some validation to them) and I agree with Sara, but at the moment we are extracting the files but I'm not seeing how do we actually lint/validate them.

In a previous comment you mentioned that there could be an option to set up some lenient tsconfig:

If you're still interested in this, do you

[2022-04-14 16:49] michaelbrewer commented on #729
@dreamorosi I do have something for this locally, it will mean some small changes in the examples and for the `aws-sdk` to also be installed. I will see if i can share it.

[2022-04-14 22:17] dreamorosi commented on #729
Sure, the `aws-sdk` is already a dev dependency so it won't be an issue. Thanks for your time!

[2022-04-14 22:31] humanzz opened #773 "Bug (logger): xray_trace_id is not populated in log lines"
## Bug description

According to [documentation](https://awslabs.github.io/aws-lambda-powertools-typescript/latest/core/logger/#standard-structured-keys), the `xray_trace_id` should be emitted in all log lines if the request is traced. However, I'm not seeing any setting of that field in my logs despite the `REPORT` log line showing the request is traced.

### Expected Behavior

All log lines to h

[2022-04-15 16:09] dreamorosi commented on #773
Hello @humanzz, thanks for opening this issue.

I made a couple of tests and was able to reproduce the behaviour you describe also in the latest version (`v 0.8.1`) - see screenshot below in which tracing is enabled and both executions were sampled (no `xray_trace_id` present):
![Screenshot 2022-04-15 at 18 03 32](https://user-images.githubusercontent.com/7353869/163593796-18e61ef4-1094-4c98-b3b3-

[2022-04-15 17:09] dreamorosi commented on #773
After a closer look I just realised that it's not possible to piggy back on `addContext` like suggested by OP. We can guarantee that the `addContext` function is ran only when Logger is used with decorators and middleware, while when running [in manual mode the function has to be called explicitly](https://awslabs.github.io/aws-lambda-powertools-typescript/latest/core/logger/#capturing-lambda-cont

[2022-04-15 18:54] dreamorosi commented on #773
A fix is available in #776, it will be most probably included in one of the next two releases based on time needed for review & merge.

[2022-04-15 20:12] humanzz commented on #773
Thanks @dreamorosi, really appreciate the prompt action. I'll keep an eye for the upcoming releases

[2022-04-17 18:16] humanzz opened #777 "Documentation: reuse across code files/modules"
## Description of the feature request

**Problem statement**

Powertools should make it easy to implement logging, metrics and tracing for code bases that are split across multiple files and modules. _This is in contrast to simplistic examples that have all the example logic needed in a single handler file_.

Currently, logger, tracer, and metrics examples all show instantiation in the handler fil

[2022-04-21 10:16] ijemmy commented on #777
Thanks for the issue. DX is high priority for us and we appreciate this kind of feedback.

We had a discussion about this. We're considering scraping the singleton implementation for tracing (#767 ). Instead of enforcing this (potentially dangerous) pattern, it would be better to let user control this (like introducing `powertools.ts` as you suggested ([example](https://github.com/saragerion/serve

[2022-04-21 11:22] faboulaye commented on #728
Any update about this issue ?

[2022-04-21 12:17] dreamorosi commented on #606
Before closing this issue and **after #674** has been merged, we need another PR to apply linting, formatting, etc. to the new examples folder. Change needed in:
- `lerna.json`
- `.github/workflows/*`

This way the new files will be picked up by the existing CI/CD steps.

[2022-04-22 08:12] #275 closed

[2022-04-25 14:55] #672 closed

[2022-04-28 05:49] michaelbrewer opened #814 "Feature (internal): Research & consider alternatives to lerna"
For quite some time the project was flagged has been unmaintained:

https://github.com/lerna/lerna/issues/2703

But now it is official

![image](https://user-images.githubusercontent.com/5442469/165685459-7c117129-ff9c-4108-ab64-3a50fdafb6db.png)

So we (community + maintainers) should consider an alternative.

[2022-04-28 11:18] dreamorosi commented on #814
Hi @michaelbrewer thanks for opening the issue.

We were aware of the status of the tool as this was already mentioned by the creator in some issues, so the announcement is not a surprise.

We have been having discussions about finding alternatives for a while now and this is a topic that we're open to look at after the library reaches General Availability (GA) status.

While this is something tha

[2022-04-28 17:01] michaelbrewer commented on #814
It's a good time for reviewing options to move to `yarn` and `yarn workspaces`. but there are many floating around now.

Hopefully a clear winner emerges

[2022-04-29 08:45] #773 closed

[2022-04-29 15:15] dreamorosi opened #825 "Feature (all): have descriptive logs in the integration tests"
## Description of the feature request

**Problem statement**
Now that we are running more integration tests (multiple runtimes for each utility) and in parallel it would be beneficial to have logs that explicitly indicate which utility they belong to. This would help troubleshoot faster in case of issues.

**Summary of the feature**
Currently this is how the log prefix are:
![image](https://user-i

[2022-05-02 10:46] saragerion commented on #140
Closing this issue as it doesn't apply

[2022-05-02 10:46] #140 closed

[2022-05-02 15:55] willfarrell commented on #140
@saragerion Why? Is CodeQL SAST, or equivalent, already applied and is sufficient?

[2022-05-02 16:29] saragerion commented on #306
This is an important feature for governance and management, but this shouldn't be a show stopper for the upcoming release candidate so setting a lower priority.

[2022-05-02 16:53] saragerion commented on #140
Thanks for allowing me to clarify this.
Security is the top priority and we will address units of work around this area as soon as we have a more stable code version (actually pretty soon).
Units of work in this area may include actionable items emerged from internal AWS reviews as well as the utilisation of automated tooling (still to be defined).
We will open new related issues with a smaller sc

[2022-05-02 19:04] saragerion opened #826 "Feature (all): AWS Lambda Layers support"
## Description of the feature request

**Problem statement**

Currently AWS Lambda Powertools for Python supports usage via a Lambda Layer. The TypeScript Powertools do not.

**Summary of the feature**

[Lambda Layer](https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html) is a .zip file archive that can contain additional code, pre-packaged dependencies, data, or configuration fil

[2022-05-02 19:34] ijemmy commented on #825
GitHub matrix strategy may be a better approach. It will fix this issue and be more efficient. I'm looking into that.

[2022-05-06 04:13] dreamorosi commented on #814
Company behind nx (one of lerna alternatives in the space) has taken over stewardship of lerna:

https://github.com/lerna/lerna/issues/3121

[2022-05-09 20:15] saragerion opened #829 "Bug (tracer): rename Tracer's folder to "packages/tracer""
## Bug description

More of a chore than a bug but the Tracer utility is called "Tracer" everywhere except than in the name of its containing folder.
This inconsistency causes annoyance and confusion, especially dealing with Github Actions.

### Expected Behavior

Rename the current folder of the Tracer utility from:
`packages/tracing`
to
`packages/tracer`

### Current Behavior

N/A

### Possible

[2022-05-09 22:51] saragerion opened #830 "Feature (all): add support for nodejs16.x runtime"
## Description of the feature request

**Problem statement**

Support for nodejs16.x currently missing.

**Summary of the feature**

The runtime nodejs16.x will be GA this week, see this [related issue](https://github.com/aws/aws-lambda-base-images/issues/14).

As part of this issue, support for the Node.js v16 runtime should be added where relevant.

**Code examples**

N/A

**Benefits for you and

[2022-05-09 23:01] dreamorosi commented on #829
You have no idea how many times I got this wrong lol

Just for documentation purposes, I want to link the issue where we decided this naming convention #26

[2022-05-10 16:35] dreamorosi commented on #830
From a first round of research, here are some places that needs updating:
- [`.devcontainer/Dockerfile`](https://github.com/awslabs/aws-lambda-powertools-typescript/blob/main/.devcontainer/Dockerfile)
- [`.devcontainer/devcontainer.json`](https://github.com/awslabs/aws-lambda-powertools-typescript/blob/main/.devcontainer/devcontainer.json)
- [`.github/workflows/on-merge-to-main.yml`](https://githu

[2022-05-10 16:45] dreamorosi commented on #830
At the moment we are blocked by CDK releasing support for the new runtime (we use CDK in the integration tests).
The PR that adds support has been already merged yesterday https://github.com/aws/aws-cdk/pull/20261 so hopefully it'll be released soon.

[2022-05-10 16:47] willfarrell commented on #830
For those that run across this that use terraform: https://github.com/hashicorp/terraform-provider-aws/issues/24714

[2022-05-10 17:24] saragerion opened #846 "RFC: Parameters utility"
[code]

## Key information

* RFC PR: (leave this empty)
* Related issue(s), if known:
* * https://github.com/awslabs/aws-lambda-powertools-typescript/issues/484
* * https://github.com/awslabs/aws-lambda-powertools-typescript/issues/165
* Area: Parameters
* Meet [tenets](https://awslabs.github.io/aws-lambda-powertools-typescript/latest/#tenets): Yes
* Approved by: ''
* Reviewed by: ''

## Summary

[2022-05-10 17:26] saragerion commented on #484
Update about this issue: we addressed successfully the cold start logic separation.
We will think about better separations of concerns and abstractions when we will address this issue after GA:
https://github.com/awslabs/aws-lambda-powertools-typescript/issues/846
If necessary we will open another more scoped issue when we will address this unit of work.
Closing this one.

[2022-05-10 17:26] #484 closed

[2022-05-10 17:43] saragerion commented on #830
On hold (hopefully for a relatively short time) until the CDK release containing this update: https://github.com/aws/aws-cdk/pull/20261

[2022-05-10 18:24] dreamorosi commented on #484
This issue was a dependency of #165.

For the time being I have added #165 in the issue text of #846 as it has a fair bit of context & research on how the environment variables are being used.

@saragerion With that said I would consider deprioritising that issue (currently is labeled as medium) or closing it entirely in favor of #846 similar to what done in this one.

[2022-05-10 19:21] dreamorosi commented on #846
Just for info purposes, there is a development branch that I started about 10 months ago with an initial implementation of the utility that matches the Python version of the time, plus unit tests.

As I mentioned I haven't been working on this for a long while, I have just rebased today to incorporate the current project structure. Maybe this can be used as a PoC reference for a future implementat

[2022-05-12 08:02] #825 closed

[2022-05-12 08:06] dreamorosi commented on #606
In #849 we have added the new SAM samples to the GitHub workflows so that these samples are listed, basic tested, and built as part of the CI/CD workflow.

[2022-05-12 08:06] #606 closed

[2022-05-12 08:08] dreamorosi commented on #494
@flochaz is this still happening? Just wanted to make sure the issue is not stale.

[2022-05-12 08:11] dreamorosi commented on #490
I'm going to close this issue in favor of #521 where we will be tracking efforts to support ESM bundling in Powertools.

[2022-05-12 08:11] #490 closed

[2022-05-12 08:26] dreamorosi commented on #391
Hi @VRMink, we have added an example that uses SAM & TypeScript to this repo, you can find it under [`examples/sam`](https://github.com/awslabs/aws-lambda-powertools-typescript/tree/main/examples/sam).

A cookiecutter template for SAM it's also on its way https://github.com/aws/aws-sam-cli-app-templates/pull/193.

[2022-05-13 09:37] #829 closed

[2022-05-13 11:35] dreamorosi opened #875 "Maintenance: evaluate migration to Middy 3.x"
## Description of the feature request

**Problem statement**
Middy, the dependency that we use to vend middleware has [recently released](https://github.com/middyjs/middy/releases/tag/3.0.0) a new major version (v 3.x). This version drops support for Node JS version 12.x and introduces some breaking changes.

Given that Middy, as a whole, has a large surface and we are only using `@middy/core` we

[2022-05-13 12:37] willfarrell commented on #875
Middy does not support nodejs12.x out of the box, but `@middy/core`​ with an additional build step to transpile newer syntax down to es2019 would support running on nodejs12.x. I just tested this using `es2019​` in our build config with nodejs12.x locally and it tested without issue for `@middy/core`.

The breaking changes around `onError` does not affect any middleware within powertools from what

[2022-05-13 16:11] dreamorosi commented on #830
Both CDK and SAM added support for the new runtime, will link a PR to the issue shortly.

[2022-05-16 09:11] saragerion commented on #125
@m-radzikowski would you be so kind to create a separated issue for your proposal? I will close this one as it's been implemented.

[2022-05-16 09:11] #125 closed

[2022-05-16 09:21] saragerion commented on #385
Maybe for guidance on the deployment we should simply refer to our `examples` folder.
Either way, not a must have for the GA milestone.

[2022-05-16 09:23] saragerion commented on #332
Essentially the scope of this Issue is to delete this folder:
https://github.com/awslabs/aws-lambda-powertools-typescript/tree/main/packages/logger/examples
Nobody is using this folder, and it's just redundant at this point.

[2022-05-16 09:42] saragerion commented on #139
2, 4 have been addressed.

1 won't be part of the GA milestone and 3 has its own issue.

[2022-05-16 09:42] #139 closed

[2022-05-16 10:33] m-radzikowski opened #879 "Feature request: single meta-package"
## Description of the feature request

**Problem statement**

With the powertools being published as separate, modular packages, you need to install multiple `@aws-lambda-powertools/*` packages. Modularization is great for both development and keeping the dependencies small. But if you want to use several utilities from the powertools, it becomes annoying to install them separately and bump versio

[2022-05-16 10:38] saragerion commented on #879
Thanks for your proposal. I actually thought about it too. From a developer perspective, it would definitely simplify the installation and usage process.
To manage expectations: we will discuss this and, if moved forward, this will be implemented after the GA milestone.

[2022-05-16 11:02] dreamorosi commented on #664
Hi @Muthuveerappanv

first of all, thanks a lot for reporting the issue and also apologies for the delay in acknowledging it from our side. We have been busy at polishing the utilities to prepare for the launch.

I have looked at the issue reported and I was able to reproduce it.

I'll leave here a link to a repo where I was able to reproduce and document the steps for the person who will resolve

[2022-05-16 11:43] dreamorosi opened #880 "Bug (logger): short issue description"
## Bug description

After the refactoring introduced in #614 the Logger utility only allows to log values that are of type `Error` or `string`.

As such it's not possible anymore to log an arbitrary object, which causes unneeded friction since the point of logger is to promote structured logging.

As a trivial example, I might want to log the `event` of my function:
[code]

This causes compile err

[2022-05-16 11:49] dreamorosi commented on #292
Update on the above:

The issue on the TS repo was initially included in the TypeScript 4.7.0 milestone but it has now been rescheduled as part of the 4.8.0 milestone ([link](https://github.com/microsoft/TypeScript/milestone/163)).

The milestone is, at the time of writing this, at 2% completion and includes north of 350 issues.

[2022-05-16 21:41] Muthuveerappanv commented on #664
I created a [PR](https://github.com/awslabs/aws-lambda-powertools-typescript/pull/881) to import Utility components from `/lib` instead of top level pacakge. Let me know if this will do.

[2022-05-18 08:22] awsdb commented on #880
I'd like to take this one! @dreamorosi, please assign it to me.

[2022-05-18 15:37] #494 closed

[2022-05-19 03:37] orozcoadrian commented on #826
Lambda layers can be architecture-specific, if they contain native code. Assuming there's no native code in this library, it will be compatible with both `x86` and `arm64`. It'd be nice to make that explicit in the documentation.

Reference:
https://aws.amazon.com/blogs/compute/migrating-aws-lambda-functions-to-arm-based-aws-graviton2-processors/#:~:text=Functions%20without%20architecture%2Dspecif

[2022-05-20 11:17] flochaz opened #899 "Bug (all): lib not working for node12 if not bundled with tools like esbuild"
## Bug description

Node12 with standard bundling of lambda does not work and throw `Runtime.UserCodeSyntaxError: SyntaxError: Unexpected token '.'`

### Expected Behavior

Installing and bundling my lambda with powertools "normally" should work on node12 runtime.

### Current Behavior

Given a function bundled as a zip including `@aws-lambda-powertools/*` modules in `node_modules` and importing t

[2022-05-23 16:38] bestickley commented on #508
I'd like to add another validation engine to be considered: [zod](https://github.com/colinhacks/zod). IMO it has the best TypeScript DX between ajv and joi.

[2022-05-24 12:17] #616 closed

[2022-05-24 12:41] saragerion commented on #398
For the scope of the GA milestone, this issue will be coved by this PR: https://github.com/awslabs/aws-lambda-powertools-typescript/pull/878
Which will include monitoring of the package size of our library inclusive of the node_modules installed.

[2022-05-24 12:44] saragerion commented on #350
Example of improvement, for boolean variables, document if: does it accept 0,1? TRUE, FALSE? true, false?

[2022-05-24 12:46] saragerion commented on #332
TODO: edit link to those folders in all readmes and docs pages, example:
https://github.com/awslabs/aws-lambda-powertools-typescript#examples

[2022-05-24 12:47] #304 closed, assigned to nobody

[2022-05-24 13:00] saragerion commented on #350
Closing as this is a duplicate of #724

[2022-05-24 13:00] #350 closed, assigned to nobody

[2022-05-24 13:10] saragerion commented on #899
[Example of compiler options for Node 12](https://github.com/tsconfig/bases/blob/main/bases/node12.json)

[2022-05-24 18:19] #830 closed

[2022-05-25 12:25] #664 closed

[2022-05-27 07:27] saragerion opened #924 "Tests (logger): add e2e test for clear state functionality"
## Description of the feature request

**Problem statement**

PR #902 introduces a new flag that developers can enable to "clear the state" across invocations.
If developers want to make sure that persistent attributes added inside the handler function code are not persisted across invocations, they can now set the parameter `clearState` as `true` in the injectLambdaContext middleware or decorator

[2022-05-30 16:57] ijemmy commented on #899
Note on this. Target2019 doesn't support `?.` argument. So code like this:

[code]

will be:

[code]

This is fine functionally. But it reduces our unit test **branch** coverage and breaks our commit/push hooks.

The options to fix this are:
1. use `as` to cast to a type that is not optional
2. use `!` to tell typescript that there is always a value (but we'll need to ignore with `// eslint-disabl

[2022-05-31 20:13] Stefan-WW opened #926 "Bug: Logger doesn't log to vscode debug terminal"
Hello,

While development, i run my code locally in vscode.
But the lambda-powertools-logger doesn't log to the vscode debug terminal.

The following Code shows the Problem.

`

            const logger = new Logger({ serviceName: 'MyService', logLevel: 'DEBUG' });
            logger.debug('debug');
            logger.warn('warn');
            logger.error('error');
            logger.info('info')

[2022-05-31 21:33] dreamorosi commented on #926
@StefanVolkmer-WW thanks for opening the issue.

Could you please share your `.vscode/launch.json` or alternative clarify how you are executing the function? Would like to try to reproduce the issue.

[2022-06-01 07:06] StefanV85 commented on #926
Hello @dreamorosi
The Launch Config is the following:
`
{
    "version": "0.2.0",
    "configurations": [
          {
            "type": "node",
            "request": "launch",
            "name": "launch",
            "program": "${workspaceRoot}/index.js",
            "preLaunchTask": "TypeScript->JavaScript"
        }
    ]
}
`

You can reproduce it with a Standard Config.
I created a Hello W

[2022-06-01 09:00] #926 closed, assigned to dreamorosi

[2022-06-01 14:20] #332 closed

[2022-06-02 12:19] shooit commented on #875
Anecdotally, we are using `@middy/core` at v3.0.3 with the Powertools middleware with no issues. However we run all our lambdas on Node 16.x so we are not affected by Middy's deprecation of Node 12.x.

[2022-06-16 12:27] shooit commented on #516
@heitorlessa we would be interested in lifecycle hooks at Stedi. My team and I'm sure many more have written a bunch of code to handle lambda timeouts and errors that would become simpler if natively supported by Lambda.

[2022-06-20 23:45] #398 closed

[2022-06-21 08:38] dreamorosi opened #991 "Bug (build-dev): Package size report failing"
## Bug description

The newly merged "Package size report" step in our CI/CD is currently failing for all executions, [see example here](https://github.com/awslabs/aws-lambda-powertools-typescript/runs/6975736080?check_suite_focus=true).

### Expected Behavior

Step should be succeeding and report the size.

### Current Behavior

It fails

### Possible Solution

N/A

### Steps to Reproduce

N/A

#

[2022-06-21 08:55] flochaz commented on #991
Dependabot only have Read-only permission (https://github.blog/changelog/2021-02-19-github-actions-workflows-triggered-by-dependabot-prs-will-run-with-read-only-permissions/) . Need to investigate what is the best to give only permission to comment (and read https://securitylab.github.com/research/github-actions-preventing-pwn-requests/)

[2022-06-21 09:49] dreamorosi commented on #991
Okay, so this issue would happen only for dependant's PRs?

For PR that come from real users would it work fine? And what about from forks?

[2022-06-21 19:29] saragerion commented on #924
Closing as this is done here
https://github.com/awslabs/aws-lambda-powertools-typescript/pull/902

[2022-06-21 19:29] #924 closed

[2022-06-22 06:48] flochaz commented on #991
PR from fork won't work neither.
Changing to `pull_request_target` with an explicit PR checkout would most likely work but is opening vulnerability (https://securitylab.github.com/research/github-actions-preventing-pwn-requests/). Risk can be mitigated with what we already have (need of approval before workflow run for forked PR) or add label check (see https://securitylab.github.com/research/gith

[2022-06-22 07:30] dreamorosi commented on #991
Oh I see what you mean, check [this PR that I was working a year ago](https://github.com/awslabs/aws-lambda-powertools-typescript/pull/169/files) that used [data artifacts](https://docs.github.com/en/actions/using-workflows/storing-workflow-data-as-artifacts) from one workflow and then used them to do something.

Thanks for looking into this!

[2022-06-22 08:08] flochaz commented on #991
But I need to change the way the action work, will propose a fix asap

[2022-06-22 08:10] dreamorosi commented on #991
yes sorry, didn't mean to say it was a solution, I was just sharing in case it was helpful

[2022-06-23 14:12] #482 closed

[2022-06-23 14:15] saragerion commented on #482
Note: the location logic will be discussed further and captured in another PR, as agreed with @flochaz and @dreamorosi

[2022-06-23 15:36] dreamorosi opened #1006 "Feature (logger): logEvent method for manual usage"
## Description of the feature request

**Problem statement**

PR #1004 introduced a new behaviour in the Logger decorator and middleware that allows to emit a log entry that contains the handler's `event` payload.

It would be great if this feature was available also for those users who don't use decorators or middy middleware.

In addition, a couple of changes related to this topic could be made

[2022-06-23 16:11] dreamorosi opened #1007 "Feature (tracer): disable automatically when running inside fn mocked with Amplify CLI"
## Description of the feature request

**Problem statement**

Amplify CLI offers a workflow that allows developers to invoke locally a Lambda function during development, this is done by running a command like `amplify mock function <function_name> --event <path_to_event_json>` - [source](https://docs.amplify.aws/cli/usage/mock/#function-mocking-setup).

When not running inside the actual AWS Lamb

[2022-06-24 12:42] dreamorosi opened #1008 "Documentation (all): update README files & docs to reflect RC status"
## Description of the improvement

**Summary of the proposal**

With [the first RC release](https://github.com/awslabs/aws-lambda-powertools-typescript/releases/tag/v0.11.1-rc.0) the project has completed the developer preview phase, we need to update the README and the documentation to reflect it.

**How, where did you look for information**
README files of each utility, main one, documentation p

[2022-06-27 16:30] #1008 closed

[2022-06-29 02:33] bilalq commented on #777
Are the `Logger`/`Tracer`/`Metrics` classes computationally expensive to instantiate? It seems really awkward to force consumers to essentially build their own wrapper export around them for instance access. Why not instead export default instances that are ready to be used? Consumers can then have a consistent way to import these instances across all their files/modules. This can be done without

[2022-06-30 11:44] dreamorosi commented on #777
Hi @bilalq, thanks for engaging with this issue.

The classes for the utilities that we support at the moment are not expensive to instantiate, the only logic that is run at init time is configuring the instances according to the options/params that can be passed by env variables or constructor.

At the moment we don't provide instances of the utilities instantiated with default because we wanted

[2022-07-03 04:02] bilalq commented on #777
Discussion created over here as requested: https://github.com/awslabs/aws-lambda-powertools-typescript/discussions/1012

[2022-07-07 14:29] dreamorosi commented on #814
Following internal discussion and after looking at the lerna project for the past 2 months we have decided to put this issue on the side for the time being as we have confidence in the near future of the project.

We might reconsider this decision in case the direction of the lerna project changes or its feature set conflicts with our needs.

[2022-07-07 14:29] #814 closed

[2022-07-07 14:34] dreamorosi commented on #991
Wanted to leave here some info to keep the issue up to date with the current state of events:
- We have disabled Dependabot automatic PRs for regular updates in #992 - this means the number of Dependabot PRs will considerable decrease and be limited to security-related updates
- For any kind of Dependabot PR I have found out that manually re-running the actions (i.e. after they have failed) remove

[2022-07-07 14:35] dreamorosi commented on #126
Given that we have disabled Dependabot updates in #992 is not relevant anymore. Closing it.

[2022-07-07 14:35] #126 closed

[2022-07-07 15:05] #391 closed, assigned to nobody

[2022-07-08 12:08] #1007 closed

[2022-07-21 14:12] mikebroberts commented on #413
I think this is a good idea. I looked at the Middy version recently - the weird thing is that routing isn't actually a middleware function though (middleware wraps a pre-determined target; routing chooses what the target is) and so I think it would be good to have it in Powertools and not be concerned it's a duplication of Middy. (I ended up **not** using the Middy router)

FWIW I've typically bee

[2022-07-23 16:32] dreamorosi opened #1025 "Maintenance: harden workflows by pinning 3rd party actions to full length SHA number"
**Problem statement**

Workflows can use 3rd party actions. When specifying an action in a workflow you can use a version (i.e. `actions/setup-node@v3`) or specify a full length SHA number (i.e. `peaceiris/actions-gh-pages@068dc23d9710f1ba62e86896f84735d869951305`).

When using the first method two workflow executions could be using versions of a 3rd party action that correspond to different commi

[2022-07-27 09:55] Crafoord opened #1027 "Bug (logger): clearState not working when lambda throws error"
## Bug description

When using `addPersistentLogAttributes` :
[code]

and using the middy to clearState:
[code]

and then exiting the lambda by throwing an error, the next invocation will still have the persistentLogAttributes present. My guess is that the middleware never runs because of the error.

### Expected Behavior

When lambda crashes the middleware should still `clearState`.

### Current

[2022-07-27 10:05] dreamorosi commented on #1027
Hey @Crafoord thank you for reporting this and providing a reproduction example.

Please give us some time to look into it, we'll get back to you as soon as we can.

[2022-07-27 15:49] ratscrew opened #1028 "Bug (tracer): @tracer.captureMethod() is not bound to the decorated class"
## Bug description

The @tracer.captureMethod() decorator is bound to the decorator not the class its decorating.

[code]

### Expected Behavior

`` this.otherMethod() `` should call the `` this.otherMethod() `` in the same class

### Current Behavior

`` this.otherMethod() `` is undefined

### Possible Solution

see #1026
the `@tracer.captureLambdaHandler()` decorator already does this

### Steps

[2022-07-27 15:57] dreamorosi commented on #1028
Thank you for opening the issue, appreciate your time.

I was able to reproduce the bug described using this code:

[code]

Given that you have already opened a PR to fix this I'm gonna assign the issue to you.

[2022-07-28 03:10] barnu5 opened #1029 "Minimum metrics error breaks functionality"

[2022-07-28 03:28] barnu5 commented on #1029
Note I am using a wrapper function with `middy` as recommended by the docs:

`const includeMetrics = (fn) =>
  middy(fn).use(logMetrics(metrics, metricsOptions));`

[2022-07-28 03:37] #1029 closed

[2022-07-28 09:03] saragerion commented on #1027
Thanks again for reporting this bug @Crafoord.
I was able to reproduce this issue as well.

Source code:
https://github.com/saragerion/serverless-typescript-demo/blob/1027-bug-logger-clearstate-not-working-when-lambda-throws-error/src/api/get-products.ts#L20

CloudWatch Logs Insights query:
[code]

Logs output:
<img width="1224" alt="Screenshot 2022-07-28 at 11 01 24" src="https://user-images.gith

[2022-07-28 13:42] IslamWahid opened #1030 "Feature request: disable logs while testing with jest"
## Description of the feature request

**Problem statement**

While running jest I would like to suppress the logs on the console to make it readable and clean.

jest CLI is offering [`--silent`](https://jestjs.io/docs/cli#--silent) option to prevent tests from printing messages through the console, but it doesn't seem to work with the logger.

**Summary of the feature**

Suggestions:
- the logger

[2022-07-29 10:38] dreamorosi commented on #1030
Thank you @IslamWahid for opening the issue. I'm going to report part of the content of our discussion on the Slack community channel.

Based on what I could gather, when the `--silent` flag is present Jest patches the `console` [with a custom version](https://github.com/facebook/jest/blob/24e0472ac41ea03cdd89ffaea8c5f410ecf6054f/packages/jest-runner/src/runTest.ts#L134).

On our end, we also don'

[2022-07-30 01:35] damianesteban opened #1032 "Feature (logger): redact sensitive data from logs"
## Description of the feature request

**Problem statement**

I want to redact potential PII and/or PHI in my serverless logs.
**Summary of the feature**

This may not be a "feature" necessarily, it might be possible with the current middleware. But the idea is I want to pass in an array of keys that would display as redacted in the logs.

**Code examples**

Example log:

[code]

Logs in Cloudwatc

[2022-07-30 11:03] dreamorosi commented on #1032
Hi @damianesteban thank you for taking the time to open this feature request.

I think it's an interesting idea and we have had a very similar feature request that is being discussed here #728

May I suggest that you take a look at that issue and then consider one of these two options:
- If your thoughts align with the existing issue (#728): add your +1 as well as any additional thoughts, then clo

[2022-07-31 18:47] damianesteban commented on #1032
Thank you, I will review. I'd like us to adopt this library as our default logger/tracer for AWS lambda.

[2022-07-31 18:50] damianesteban commented on #728
I like this feature. I suggest that the user can define which keys to be filtered instead of having defaults.

[2022-07-31 18:51] #1032 closed

[2022-08-02 11:58] dreamorosi opened #1033 "Feature request: implement top-level await & ESM"
## Description of the feature request

**Problem statement**
With ES modules, developers may use top-level await within their functions. This allows developers to use the await keyword in the top level of the file. With this feature, Node.js functions may now complete asynchronous initialization code before handler invocations.

In the context of the Parameters utility, this minimises the executio

[2022-08-02 11:59] dreamorosi opened #1034 "Docs: write main docs for the utility"
## Description of the improvement

**Summary of the proposal**
The documentation should include a section dedicated to the upcoming Parameters utility.

**How, where did you look for information**
N/A

**Missing or unclear documentation**
N/A

**Improvement**
N/A

### Related existing documentation

No

### Related issues, RFCs

#846

[2022-08-02 13:36] dreamorosi opened #1035 "Maintenance: integrate utility with CI/CD unit test processes"
## Description of the feature request

**Problem statement**
Even if the new utility won't be released till much later, whenever code is merged into `main` the code coverage should stay at 100%.

**Summary of the feature**
This unit of work tracks the activities and changes needed for the parameters utility to be part of the unit test workflows that run whenever a PR is created and/or updated.

Ad

[2022-08-02 13:44] dreamorosi opened #1036 "Maintenance: integrate into CI/CD package measurement"
## Description of the feature request

**Problem statement**
Before merging new code into `main` we are running a workflow that measures the impact of the changes on the final package size. The new utility should be part of this workflow.

**Summary of the feature**
This issue tracks the work needed to integrate the new utility as part of the workflow mentioned above. The output report that is gen

[2022-08-02 15:49] dreamorosi opened #1037 "Docs: add utility examples"
## Description of the improvement

**Summary of the proposal**
The repository contains - at present - examples in CDK and SAM that showcase how to use the Powertools utilities available. The new parameters utility should be part of these example.

**How, where did you look for information**
In the CDK & SAM examples.

**Missing or unclear documentation**
N/A

**Improvement**
Include examples of th

[2022-08-03 18:16] dreamorosi opened #1038 "Docs: document CI/CD behavior / implementation"
## Description of the improvement

**Summary of the proposal**
With the number of `workflows` and `scripts` growing in our CI/CD processes (based on GitHub Actions) there's a need of documenting the relationships between each workflow/script and also the different triggers.

The proposal is to create a `.github/workflows/README.md` file and have a short explanation + diagram of each major workflow

[2022-08-04 09:14] dreamorosi opened #1039 "Maintenance: write end-to-end tests for the utility"
## Description of the feature request

[code]

**Problem statement**
Before a Powertools utility can be considered production ready it needs to have e2e tests implemented and running every time a new feature or release is added.

**Summary of the feature**
This action item tracks the activities and changes needed to integrate the new utility in the e2e tests, which high level and at the time of wr

[2022-08-04 09:18] dreamorosi opened #1040 "Maintenance: integrate utility with CI/CD release process"
## Description of the feature request

**Problem statement**
Once all other issues related to this milestone have been completed, the new utility must be introduced in the automated release process so that it can be pushed to npm.

**Summary of the feature**
This unit of work tracks the activities and changes needed for the new utility to be part of the release workflow that is in charge of creati

[2022-08-04 09:23] dreamorosi opened #1041 "Maintenance: integrate utility with CI/CD merge process"
## Description of the feature request

**Problem statement**
Every time a PR is merged a number of checks and actions are run on the utilities to make sure that the changes introduced are compatible with the existing code (this is somewhat redundant as these same checks also run in the PR itself - but better be safe than sorry).

Additionally, the workflow that runs on merge also builds the docume

[2022-08-04 09:32] dreamorosi opened #1042 "Docs: write utility readme & update main one"
## Description of the improvement

**Summary of the proposal**
As a part of the implementation of the utility it's necessary to have a dedicated readme file for the utility as well as update the main one in the root of the project.

The first one will be also used in the npm page, the latter will need to be updated to mention the new utility.

**How, where did you look for information**
Readme of

[2022-08-04 10:02] dreamorosi opened #1043 "Docs: create API docs"
## Description of the improvement

**Summary of the proposal**
As a part of our documentation we have a [section that focuses on the APIs available](https://awslabs.github.io/aws-lambda-powertools-typescript/latest/api/). The new utility should feature docstrings that will then populate the corresponding pages of this documentation.

**How, where did you look for information**
This unit of work tr

[2022-08-04 10:18] ijemmy opened #1044 "Bug (metrics): Increase maximum number of metrics dimension from 10 to 30"
## Summary
Increase maximum number of metrics dimension from 10 to 30

## Bug description
CloudWatch Metrics has increase maximum number of dimensions from 10 to 30 [ref](https://aws.amazon.com/about-aws/whats-new/2022/08/amazon-cloudwatch-metrics-increases-throughput/).

Currently, `metrics` utility throws an error when user try to add more than 10 dimension. This should be updated to 30.

Note:

[2022-08-08 01:01] bestickley commented on #521
I'm only using `@aws-lambda-powertools/logger` and would really appreciate an ESM build even if `aws-xray-sdk-node` is blocking `@aws-lambda-powertools/tracer`. Thank you!

[2022-08-10 13:26] #1027 closed

[2022-08-10 13:28] saragerion commented on #1027
This will be part of the next release. I am going to add the scenario in our E2E tests in a future PR (it requires some refactoring).

[2022-08-10 13:44] dreamorosi opened #1046 "Bug (layers): e2e tests failing"
## Bug description

E2E tests are failing after the changes related to #826.

There’s a dependency issue in the [job section that tests the layers](https://github.com/awslabs/aws-lambda-powertools-typescript/blob/main/.github/workflows/run-e2e-tests.yml#L74-L102), and as far as I can tell it’s because it’s requiring something from commons but we are installing the dependencies only in `[layer-publ

[2022-08-10 15:33] #1046 closed

[2022-08-10 15:58] dreamorosi opened #1049 "Documentation (logger): Documentation examples/outputs need updating"
## Description of the improvement

**Summary of the proposal**
With the newer features being released some of the CloudWatch excerpts for Logger in the docs have fallen out of sync either in terms of content/keys or lines highlighted.

**How, where did you look for information**
Logger documentation.

**Missing or unclear documentation**

Some of the examples in the Logger docs are out of sync wit

[2022-08-10 16:16] #1049 closed

[2022-08-11 14:28] dreamorosi opened #1050 "Bug (layers): release process is broken"
## Bug description

Similar to what happened with #1046 the addition of the `layer-publisher` folder caused some issues with the release workflow [making it fail](https://github.com/awslabs/aws-lambda-powertools-typescript/actions/runs/2833892130).

### Expected Behavior

The release process should carry on as expected.

### Current Behavior

The new folder was added to the `lerna` context, so tha

[2022-08-11 14:29] DomSearle opened #1051 "Bug (all) : Unexpected PowerTools behaviours when leveraging the default SAM TypeScript template with SAM ESBuild support enabled"
### **Summary**

When using the SAM "`Hello World Example TypeScript TS"`  template with ESBuild support enabled various PowerTools anomalies are observed.

### **Configuration**
aws-lambda-powertools ^1.0.2
middy/core": ^3.1.1
sam cli 1.53.0
nodejs14.x

### **Bug description**

Various documented PowerTools expected behaviours are not operating as expected when leveraging the default SAM TypeScri

[2022-08-11 14:47] dreamorosi opened #1053 "Bug (build): docs should not be published at each commit in a PR but only when merged"
## Bug description

With the introduction of a new workflow architecture/design in #1023 the workflow that is supposed to be run `on merge` is now ran as a result of the successful execution of another workflow that runs every time a PR is updated. This is in the name of security and to avoid running privileged workflows directly on a code change that could come from a fork.

The changes introduce

[2022-08-11 14:56] bpauwels commented on #1051
HI @DomSearle,

thanks for reporting the issue. I will look into this and get back to you as soon as I have reproduced it.

[2022-08-11 15:48] dreamorosi commented on #1051
Thank you @DomSearle, yes, I have already talked with Benedikt and shared your repo with them as well all the other details shared in the Slack thread.

[2022-08-12 11:43] #1050 closed

[2022-08-12 12:40] dreamorosi commented on #991
Released as a part of v1.1.0

[2022-08-12 16:32] misterjoshua commented on #1028
@dreamorosi Hey. I tested `@tracer.captureMethod()` in the recently released v1.1.0. Although #1026 was included, I don't believe this issue was successfully fixed. Here is an example of code that does not work:

[code]

Here is a screenshot demonstrating the unexpected error:

![image](https://user-images.githubusercontent.com/644092/184401992-94ef6e41-3457-4ee0-8104-aacfa913ec3a.png)

And here i

[2022-08-12 17:07] dreamorosi commented on #1028
After looking into it a bit more it seems that the issue is not anymore related to how `this` is bound but instead to `readonly` attributes/methods of the decorated class.

For instance, the example below works as expected:

[code]

![Screenshot 2022-08-12 at 18 44 49](https://user-images.githubusercontent.com/7353869/184408679-50208b32-8503-45dd-a881-aba715c0c526.png)

To be honest I'm not sure i

[2022-08-13 20:11] dreamorosi opened #1056 "Bug (tracer): decorated class methods cannot access `this`"
## Bug description

All three existing utilities (Logger, Tracer, Metrics) provide [method decorators](https://www.typescriptlang.org/docs/handbook/decorators.html#method-decorators) that customers can use to decorate a `Lambda` class in AWS Lambda. Decorators are an experimental feature in TypeScript and at the time of writing the only way of using them is to use Classes.

Here's a generic exampl

[2022-08-13 20:12] dreamorosi commented on #1028
Closing this in favor of #1056

[2022-08-13 20:12] #1028 closed

[2022-08-13 20:27] misterjoshua commented on #1056
@dreamorosi Thanks for your help fixing this issue so far.

[2022-08-13 20:51] dreamorosi opened #1057 "Bug (metrics): decorated class methods cannot access `this`"
## Bug description

A long form description of this issue is available in #1056. This is an issue that affects all three Powertools utilities because they all share similar implementation for the decorators.

---

When using Powertools in with a Class and when decorating a method, the decorated method does not have access to the correct value of `this` and so it's not able to call other methods no

[2022-08-13 20:53] dreamorosi opened #1058 "Bug (logger): decorated class methods cannot access `this`"
## Bug description

A long form description of this issue is available in #1056. This is an issue that affects all three Powertools utilities because they all share similar implementation for the decorators.

---

When using Powertools in with a Class and when decorating a method, the decorated method does not have access to the correct value of `this` and so it's not able to call other methods no

[2022-08-15 07:15] saragerion opened #1061 "Maintenance: End Of Support of Node.js 12 runtime"
-----

## Description of the feature request

**Problem statement**

AWS is ending support for Node.js 12 in AWS Lambda. This follows [Node.js 12 End-Of-Life (EOL)](https://nodejs.org/en/blog/release/v12.22.12/) reached on April 30, 2022.
Starting November 14, 2022, Lambda will no longer apply security patches and other updates to the Node.js 12 runtime used by Lambda functions, and functions usin

[2022-08-15 07:26] saragerion commented on #1061
**IMPORTANT**: this unit of work should be released only after the deprecation takes place for customers, so after December 14, 2022.

[2022-08-15 07:54] ijemmy commented on #1061
Note for implementer.  Please check if we can also update the target from ES2019 to a newer version. It was implemented in this PR: https://github.com/awslabs/aws-lambda-powertools-typescript/pull/925

[2022-08-15 10:41] dreamorosi commented on #1061
I think we should instead drop support on November 14 (a month before) & indicate the last release before then as the last supporting NodeJS 12. In the messaging shared via email (& that you copied above) it says that after this date it worn't be possible to create new functions using the runtime. This means we won't be able to run e2e tests after that date.

In theory we could modify our e2e test

[2022-08-15 15:33] bpauwels commented on #1051
As already discussed in private, @DomSearle, please check that the Handler defined in template.yaml matches the actual handler exported in your function code.
Issue can be closed!

[2022-08-15 15:34] DomSearle commented on #1051
Thanks @bpauwels for your assistance in resolving my local configuration issue. Closing as not a bug.

[2022-08-15 15:34] #1051 closed

[2022-08-15 15:46] dreamorosi commented on #1051
@bpauwels can you share the resolution steps/details in this issue?

Maybe it'll be helpful to others in the future.

[2022-08-15 17:13] #1053 closed

[2022-08-16 11:52] saragerion commented on #1051
For posterity: no resolution steps are needed as this was due to a small misnaming in the IaC config.

[2022-08-16 14:27] #1056 closed

[2022-08-17 12:49] ijemmy commented on #447
Hi everyone, here is a design proposal. Would appreciate your comments on this (especially around the **Utility interface** as it's different from Python and Java which have no constraint on decorator usage.)

## Design proposal (Request for comments)

### 1. Summary
The goal of this document is to propose the scope and design of Idempotency utility for Powertools for TypeScript. The utility has b

[2022-08-17 13:40] buggy commented on #519
I really like this idea.

Could I suggest using `levelOnError` instead of `logAllLevelsOnError`? This would provide additional flexibility by allowing the developer to set the log level on error instead of assuming they want everything.

Use case:
1. Set `level` to `WARN` and `levelOnError` to `INFO`.
2. Use `WARN` for warnings that should always be logged
3. Use `INFO` for additional information

[2022-08-17 13:55] buggy commented on #165
I don't see the `EnvironmentVariablesService` listed anywhere in the docs. Is this an internal API?

My preference would be to return `undefined` so you can tell when the variable hasn't been set versus when it was set to an empty string.

We could add a second optional parameter `defaultValue` so it becomes:

[code]

[2022-08-17 14:45] dreamorosi commented on #165
Hi @buggy, yes it's an internal API and as such is not represented in the docs.

Here's [an example of this class being used](https://github.com/awslabs/aws-lambda-powertools-typescript/blob/main/packages/tracer/src/config/EnvironmentVariablesService.ts) in the Tracer utility, the other two have a similar implementation.

As it was pointed out [in one of the comments above](https://github.com/awsl

[2022-08-18 12:23] #1058 closed

[2022-08-18 12:30] #1057 closed

[2022-08-18 14:45] dreamorosi commented on #1056
Released in [`v1.1.1`](https://github.com/awslabs/aws-lambda-powertools-typescript/releases/tag/v1.1.1)

[2022-08-18 14:46] dreamorosi commented on #1058
Released in [`v1.1.1`](https://github.com/awslabs/aws-lambda-powertools-typescript/releases/tag/v1.1.1)

[2022-08-18 14:46] dreamorosi commented on #1057
Released in [`v1.1.1`](https://github.com/awslabs/aws-lambda-powertools-typescript/releases/tag/v1.1.1)

[2022-08-18 14:52] dreamorosi opened #1063 "Bug (docs): incorrect version number in the docs + API docs returning 404"
## Bug description

As per title of the issue, after releasing the [`v1.1.1`](https://github.com/awslabs/aws-lambda-powertools-typescript/releases/tag/v1.1.1) version, the action that publishes the documentation [completed successfully](https://github.com/awslabs/aws-lambda-powertools-typescript/runs/7900433814?check_suite_focus=true) but the version number that corresponds to `latest` is incorrec

[2022-08-18 17:03] misterjoshua opened #1064 "Feature (tracer): disable response capturing on a per-method basis"
## Description of the feature request

I'd like `tracer.captureMethod()` to allow customers to disable capturing the response as metadata on a per-method basis.

**Problem statement**

I find when capturing a method that returns a boatload of data, the subsegment may fail to send because the subsegment exceeds [X-Ray's 64KB segment document size limit](https://docs.aws.amazon.com/xray/latest/devgu

[2022-08-18 17:12] dreamorosi commented on #1064
Thank you @misterjoshua for opening this feature request.

Please give us some time to prioritise the request and fit it in our roadmap. As soon as we have an implementer either from the community or from the maintainers team we'll assign the issue and change the status to "In Progress".

[2022-08-19 06:40] AlessandroVol23 commented on #447
That sounds very nice and is indeed much needed 👍

We're also currently simply using a middy middleware to check if a request was already executed and add a flag to the `context` object but things like
- Error handling
- retries
- Early exit
- Handler & Function level

Would definitely help a lot. Thanks!

[2022-08-22 08:42] rreddypally opened #1068 "Bug: unable to build with `tsc` when not using `@middy/core`"
## Bug description

EDIT: see [this comment](https://github.com/awslabs/aws-lambda-powertools-typescript/issues/1068#issuecomment-1227047896) for updated info after triage.

---

The import statement in Tracer.ts for `TracerInterface` is importing all the modules from the root. https://github.com/awslabs/aws-lambda-powertools-typescript/blob/main/packages/tracer/src/Tracer.ts#L3.

I am trying to u

[2022-08-22 12:15] dreamorosi commented on #1068
Hi @rreddypally thank you for opening this issue.

I have tried reproducing the issue you describe but unfortunately I am not able to.

In [the docs](https://awslabs.github.io/aws-lambda-powertools-typescript/latest/core/tracer/#usage) we recommend to import the Tracer directly (i.e. `import { Tracer } from '@aws-lambda-powertools/tracer';`), however even if I import it like you suggest I am still

[2022-08-22 20:43] misterjoshua opened #1070 "Feature (tracer): access to the root trace id"
## Description of the feature request

**Problem statement**
When handling application errors, I want to embed the XRay Trace ID in the payload & error message returned by my API so that customers can cite the trace ID in support requests, and so our development team can easily look up the trace from a customer service request via AWS XRay's web console.

**Summary of the feature**
I'd like the tr

[2022-08-23 00:29] login21 opened #1071 "Missing AWS Lambda trace data for X-Ray"
Hi ,

I need support to resolve this issue when I use powertool tracing with my serverless lambda function which has an Init() function.

[code]
app.js file -

[code]

My ssm call code looks like this -

[code]
I am using captureAWSClient() function like this

[code]

Can anyone please help me fix this issue.

Few point about this issue -

- Active tracing in enabled in my lambda.
- Able to see th

[2022-08-23 07:37] dreamorosi commented on #1071
Hi @login21, thank you for opening the issue and for using Powertools.

Before commenting on what could be the issue, I would like to understand your code better.

If I understand correctly, you're setting up an Express app in the Lambda function. This app has a few routes (the ones towards the end of the code snippet) and has a function that you'd like to run the first time `app` is initialized,

[2022-08-23 09:08] dreamorosi commented on #1071
https://github.com/aws/aws-xray-sdk-node/issues/526

[2022-08-23 09:53] sthuber90 commented on #1044
Happy to take over this task

[2022-08-23 09:59] dreamorosi commented on #1044
Hi @sthuber90 thanks for commenting under the issue.

Based on the description above the change should involve both the `Metric` class & unit tests, not sure yet about integration tests. Do you need any additional info/support in defining the scope of the feature?

I'll assign the issue to you and I'll be happy to help with reviewing the PR once it's opened.

[2022-08-23 10:03] sthuber90 commented on #1044
Thank you very much. I will try to work out a minimal PR and look into whether integration tests make sense for this feature. All in all, it really seems like a good first issue and easy to start with :)

[2022-08-23 11:57] dreamorosi commented on #1070
Hi @misterjoshua thank you for another interesting feature request.

At the moment Tracer doesn't expose any method but I think there's a chance that the `aws-xray-sdk` does it, I'd have to check. Another datapoint here is that we have a private method that does this in Logger ([here](https://github.com/awslabs/aws-lambda-powertools-typescript/blob/main/packages/logger/src/Logger.ts#L559-L563)). F

[2022-08-23 13:06] ijemmy commented on #1070
@dreamorosi

1. We probably don't want Logger to depends on `aws-xray-sdk`.  So this option is only suitable if we have the same method in Tracer.
2. Moving `Logger.getXrayTraceId()` logic to `common` package makes sense to me.  From quick look, I think the best place is the class `Utility`? (in `commons/src/Utility.ts`). Both `Logger` and `Tracer` are using them already.

[2022-08-23 13:21] dreamorosi commented on #1070
Yes, sorry, point 2 is what I was referring to. I wouldn't want to take a dependency on the X-ray SDK.

I was proposing to either find & use the method from the SDK in the tracer only

OR

Generalize the method into `Utility` and use it from both.

Either way the bundle would stay more or less the same for all packages involved.

[2022-08-23 13:22] #1063 closed

[2022-08-23 13:31] saragerion commented on #1070
I like this idea. I absolutely see scenarios in which correlation IDs generated by AWS including this one might need to be inspected or handled by your application.

Not the same but good for context that there has been some conversation going on in the past about AWS-generated correlation IDs:
https://github.com/awslabs/aws-lambda-powertools-typescript/issues/129

[2022-08-23 13:33] #1064 closed

[2022-08-23 13:33] login21 commented on #1071
Hi @dreamorosi thank you so much for your response.

Yes your understanding is completely right. My init() function calls some other functions which then have call to aws ssm and also some third party apis.. I see the mentioned error in my Init() function.

[2022-08-23 14:10] dreamorosi commented on #1071
Okay, understood, thanks for confirming.

If that's the case then the issue is somewhat expected. Let's take a look at what the error says:

As the message suggests X-Ray is not able to determine where to append the tracing info.

The error then provides two possible causes for this:
- `Ensure Active Tracing is enabled` - this is not your case since you're able to see other trace info + you confir

[2022-08-23 14:10] #1071 closed

[2022-08-23 14:11] #1044 closed

[2022-08-23 14:22] sthuber90 opened #1073 "Documentation (module name): short issue description"
## Description of the improvement

**Summary of the proposal**

The community is moving away from Slack and towards Discord. Naturally, we should replace all invitation links to Slack with the Discord counterpart.

**How, where did you look for information**

**Missing or unclear documentation**

**Improvement**

Update links in Readme and documentation (https://github.com/awslabs/aws-lambda-power

[2022-08-23 14:26] dreamorosi commented on #1073
Hi @sthuber90 thank you for opening the issue, it's indeed an action that we should perform soon.

I'll put this in the backlog of issues to be worked on and add the `good-first-issue` label.

If anyone is interested in making this update please leave a comment below before opening a PR so we can confirm all the occurrences where the change is needed.

[2022-08-23 14:47] sthuber90 commented on #1073
You can assign  it to me if you want, as I already did the same in the python repository but I'm happy to leave it to another first time contributor 😄

[2022-08-23 14:54] dreamorosi commented on #1073
No no, it's great if you want to do it. I just didn't want to assume you would.

I'll assign it to you then!

[2022-08-23 15:11] dreamorosi commented on #1073
https://github.com/awslabs/aws-lambda-powertools-python/blob/develop/README.md?plain=1#L6

[2022-08-23 20:13] jeffrey-baker-vg commented on #447
This looks great! We are very excited that this utility has been prioritized!

After reading the design proposal, we do have a question and a couple of comments.

First, the question: We noticed that FR3 is "Return the same result when called with the same payload", which made us wonder about the scope of FR1. Is it just "don't re-process given the same payload"?

The comments:

1. We suggest swit

[2022-08-23 23:35] misterjoshua commented on #1070
I like where this is headed. It makes sense to move Logger's `getXrayTraceId()` to commons.

One small point from me: What access modifier are we thinking to use on `Utility.getXrayTraceId()`? Perhaps it should be protected in `Utility` and promoted to `public` in `Tracer`, but left protected in `Metrics` nor `Logger`. Posed another way: Does exposing `logger.getXrayTraceId()` or `metrics.getXrayT

[2022-08-24 00:17] login21 commented on #1071
Hi @dreamorosi I will try modifying my code as per your suggestion and see if that works for me.

I would also like to know if there is way I can stop seeing this error messages like I read on AWS Xray docs that setting "AWS_XRAY_CONTEXT_MISSING" environment variable can be useful to avoid throwing exceptions. I tried this one but it didn't work for me. I am okay to not trace my init() function an

[2022-08-24 10:10] dreamorosi commented on #1071
Hey @login21, yes.

You could suppress the errors using the `setContextMissingStrategy` method on `Tracer.provider` that is [documented here](https://awslabs.github.io/aws-lambda-powertools-typescript/latest/api/interfaces/_aws_lambda_powertools_tracer._internal_.ProviderServiceInterface.html#setContextMissingStrategy):
[code]

Alternatively, you could instruct the X-Ray SDK to emit an error log i

[2022-08-24 11:15] dreamorosi commented on #1070
I don't have a strong preference on the access modifier to be used in `Utility` but for the time being I'd play on the safe side and go with `protected` as per your suggestion. If in the future we want to expose that API we'll re-evaluate then.

Regarding the subclasses and `getXrayTraceId()`, at least for now I'm inclined towards:
- `Metrics` - does not need it so it doesn't use / expose the meth

[2022-08-24 16:04] dreamorosi opened #1076 "Bug (build): label issue on merge fails"
## Bug description

At the moment, the workflow that is run every time a PR is merged attempts to label the issue related to that PR with a `pending-release` tag, to inform the person opening the issue that a change will be released soon.

At the moment the script that is run during this action has a bug coming from a leftover version of the script that makes it fail.

<img width="489" alt="image"

[2022-08-24 17:28] dreamorosi opened #1077 "Feature (build): allow e2e test GitHub Action to run on"
## Description of the feature request

**Problem statement**

At the moment, every time a contributor opens a PR does that using a fork. The current implementation of the workflow that runs the e2e tests prevents us to run the tests from a fork because it allows us to select only branches of this repo.

In order to allow maintainers to run integration tests on PRs that come from the community, the

[2022-08-25 00:35] login21 commented on #1071
Hi @dreamorosi Thanks again for your quick response.

Well that's what I was doing at the very beginning when I got those error. I tried removing tracing from all the places which were getting invoked in my init() function and still I was seeing these errors. There are some http calls in my functions and those functions are getting invoked in init but there is no tracing in those functions/files s

[2022-08-25 00:56] rreddypally commented on #1068
[tracer-demo.zip](https://github.com/awslabs/aws-lambda-powertools-typescript/files/9420304/tracer-demo.zip)

Hi @dreamorosi, thanks for taking time and record the extensive demo.

I have attached a simple typescript demo which fails to compile without middy.

Steps:
1. Unpack the demo
2. Run `npm run build` which uses tsc to compile
3. Get this error. "node_modules/@aws-lambda-powertools/tracer/l

[2022-08-25 05:43] dreamorosi commented on #1068
Unfortunately I'm not allowed to download archives from public websites on my machine.

Could you please provide a sample repo here on GitHub with its content so I can take a look? Thanks for your understanding

[2022-08-25 08:27] rreddypally commented on #1068
No problem at all.

Here is the repo: https://github.com/rreddypally/tracer-demo

Let me know if you have trouble accessing it.

[2022-08-25 10:00] dreamorosi commented on #1068
Thank you for providing the repo.

I can confirm that I am able to reproduce the issue you describe, which happens only when bundling with `tsc` instead of `esbuild`.

I was also able to confirm that the issue affects the Logger & Metrics utilities as well.

We're going to need a bit more time to investigate this though, the fix that you suggested in the PR #1069 does not seem to fix the issue for

[2022-08-25 10:05] dreamorosi commented on #1068
@rreddypally: In the meanwhile, if you don't want to use `esbuild`, you can add `@middy/core` as a dev dependency to your project (`npm i -D @middy/core`) and the build will succeed. I have verified that there's no trace of Middy in the built output so it won't have any effect on your end result.

I know it's not ideal but it's a temporary solution while we find a better one.

[2022-08-25 12:19] ijemmy commented on #447
FR1 will stop Lambda process the same workload twice. FR3 is putting the result in the persistent layer, and return the same result when the new request comes in.

This is just to break implementation into smaller parts. In FR1 implementation, it may simply return a hardcoded response saying that the given idempotency key has been processed.  Then, we implement FR3 to save the result from 1st requ

[2022-08-25 12:31] ijemmy commented on #447
@jeffrey-baker-vg  This issue is all yours and the team :)

I don't see any comments that require a major change. I think we can start implementation.  FR2 is a good candidate to start.

Suggestions: Given that this feature is quite big and we have many contributors, should we could start with classes and their interfaces? It doesn't have to be detailed, just class names and public methods are suf

[2022-08-27 05:38] heitorlessa commented on #447
@ijemmy @jeffrey-baker-vg if that helps on 6.3, in Python, we chose not to make lambda context required for two reasons (idempotent_function):

1. We have customers using it Fargate and on AWS Glue jobs where context isn't available

2. We were waiting for a native improvement in Lambda Runtime to handle timeout without customer explicit intervention but that wasn't prioritised in the roadmap. We

[2022-08-28 09:24] rreddypally opened #1080 "Bug: unable to build with tsc when not using @middy/core"
## Bug description

The code doesn't compile using `tsc` when using the Logger module without middy.

### Expected Behavior

Should be able to use Logger without the need to import middy when its not used. This is possible by importing the submodule via `import { Logger } from "@aws-lambda-powertools/logger/lib/Logger";`. If this is the solution maybe the documentation should reflect that.

### Cu

[2022-08-28 09:46] rreddypally opened #1081 "Bug: unable to build with tsc when not using @middy/core"
## Bug description

The code doesn't compile using tsc when using the Metrics module without middy.

### Expected Behavior

Should be able to use Metrics without the need to import middy when its not used. Unlike `Logger` importing the submodule via `import { Metrics } from '@aws-lambda-powertools/metrics/lib/Metrics';` fails to compile too.

### Current Behavior

Middy is required atleast as the

[2022-08-28 09:50] rreddypally commented on #1068
@dreamorosi thanks for taking time to recreate the issue.

I can work with the dev dependency in the meantime as we use esbuild to bundle the code for deployment.

I have created issues for Logger and Metrics as requested.
https://github.com/awslabs/aws-lambda-powertools-typescript/issues/1080
https://github.com/awslabs/aws-lambda-powertools-typescript/issues/1081

[2022-08-28 10:08] dreamorosi commented on #1068
Thank you @rreddypally, just to be clear, if you're using `esbuild` you shouldn't need the dev dependency at all. As far as we have see this is a problem only with `tsc`.

Thank you also for opening the issues, we'll discuss them with the team and report here any development

[2022-08-29 00:53] rreddypally commented on #1068
We use `tsc` to compile the code locally and use `esbuild` to package the codebase for deployment. So we are facing the issue when working locally, which I can get around with dev dependencies as you mentioned.

[2022-08-29 12:34] #1076 closed

[2022-08-29 12:35] #1077 closed

[2022-08-30 01:18] RajivSah commented on #728
+1

[2022-08-31 02:26] walmsles opened #1082 "RFC: Addition of BatchProcessing Utilities for EventSource Mapping triggers (akin to python utility)"
## BatchProcessing Utility

Adding a BatchProcessing utility with the feature set from Python is needed to simplify coding and developer experience around processing data from EventSource mappings.

* RFC PR: (leave this empty)
* Related issue(s), if known:
* Area: BatchProcessor (new)
* Meet [tenets](https://awslabs.github.io/aws-lambda-powertools-typescript/latest/#tenets): Yes
* Approved by: ''

[2022-08-31 09:36] dreamorosi commented on #1082
Hi @walmsles, thank you for opening this RFC.

Batch processing is definitely one of the use cases that we want to look into and consider for the future, however at the moment we cannot commit to any timeline as we are already working on Idempotency, Parameters, and other topics.

However I think this is a valuable RFC and I would be keen to hear what the community & other maintainers have to say

[2022-09-01 13:46] ijemmy opened #1083 "Maintenance: End-to-End testing work only on eu-west-1 region"
## Bug description

Running `AWS_PROFILE=MY_PROFILE_NAME AWS_REGION=eu-central-1 npm run test:e2e` doesn't put all test stacks on `eu-central-1`. Instead, it deploys all logger tests on `eu-west-1` for `logger` and `tracer`

This is not consistent in all packages. E2E tests  are deployed to `eu-central-1` for `metrics`.  Given that, I suspect that this from `populateEnvironmentVariables.ts` as bot

[2022-09-08 12:33] saragerion commented on #1068
Thanks again @rreddypally for reporting this bug and providing a repo to reproduce the issue.

Upon a bit of investigation playing around with the [repo](https://github.com/rreddypally/tracer-demo) and find out why the compiler is complaining when folks are not importing the middleware file in their codebases.
This happens because in the Tracer's declaration file located in
`./node_modules/@aws-la

[2022-09-08 22:49] misterjoshua opened #1084 "Feature (Tracer): Allow users to specify segment names for captured methods"
## Description of the feature request

**Problem statement**

Tracer's capture decorators currently try to determine the name of the segment from the function it decorates. While this is fine for a small project, for a larger app, auto-generated names like `### render` are not precise enough to identify which part of the code is represented by the segment.

**Summary of the feature**

I'd like the

[2022-09-09 05:21] idm-ryou opened #1085 "Bug (logger): Decorator clears states too early"
## Bug description

Looks like decorator clears states too early on async/await codes.

https://awslabs.github.io/aws-lambda-powertools-typescript/latest/core/logger/#clearing-all-state
[code]

### Expected Behavior

States are not cleared until handler execution is complete.

#### CloudWatch Logs

[code]

### Current Behavior

State are cleared before the handler's execution is complete.

#### Cl

[2022-09-09 08:17] saragerion commented on #1084
Thanks for opening this issue. I agree with you about the benefits highlighted and this is certainly a feature we could consider adding in the future.
Please allow us some time to discuss this and come back to you.

[2022-09-09 09:43] saragerion commented on #1085
Hi @idm-ryou, thanks for reporting this bug.
I was able to reproduce this issue as well.

Repository with sample app: https://github.com/saragerion/powertools-playground

Log that does not show the added log attribute in cloudwatch:
https://github.com/saragerion/powertools-playground/blob/main/lib/powertools-playground.function.ts#L21

Logs outputted:
[code]

[code]

We will look into it.

[2022-09-15 10:38] kiesel opened #1088 "Bug (metrics): throws on empty metrics even if told not to in middy middleware"
## Bug description

When constructing the middleware like:

[code]

... I would expect it to *not* throw an exception, but it does. It just doesn't on the value `undefined`. It is slightly confusing...

### Expected Behavior

Not throw exception.

### Current Behavior

Throws exception

### Possible Solution

Explicitly test for `undefined` and `false`.

### Steps to Reproduce

1. Setup via `middy

[2022-09-16 00:35] jacksonwelsh opened #1089 "Bug (tracer): decorator method names not captured"
## Bug description

In the XRay console, method names are not reported by the tracer. The name shown for the subsegment is just `###`,

I was trying to set up subsegments for each method in my class.

### Expected Behavior

The name of the subsegment should be `### $methodName`

### Current Behavior

The name of the subsegment is `###`

### Possible Solution

### Steps to Reproduce

[code]

### En

[2022-09-16 12:05] flochaz commented on #1088
Thanks for reporting this. A fix is on his way !

[2022-09-19 09:49] dreamorosi opened #1091 "Bug (tracer): decorators not awaiting decorated class method"
## Bug description

In #1085 it has been reported that Logger is affected by a bug that causes the decorator to not properly `await` the decorated method. During the review of the PR that is expected to fix #1085, @ijemmy correctly pointed out that this same faulty behavior also affects Tracer's decorators.

In the case of Tracer the actions performed after the decorated method has returned are _s

[2022-09-19 11:24] dreamorosi commented on #1089
Hi @jacksonwelsh thank you for reporting this. I have tried to reproduce the issue but was not able to.

In order to reproduce the issue I have create a simple Lambda function with the latest version of Powertools Tracer (1.2.1) and used the code below:
[code]

The code is very similar to the one you shared in your original comment, with these differences:
- Inside `handler` I'm calling the other

[2022-09-19 19:55] jacksonwelsh commented on #1089
Thanks for taking a look! I figured out the issue- I was targeting `es5` and not `es2016`, so typescript was converting down to non-decorated functions. Might be worth adding a note about this to the documentation. Switching my tsconfig to target es2016 fixed everything.

[2022-09-19 21:10] misterjoshua commented on #1089
@dreamorosi I had a similar problem as @jacksonwelsh, but after changing my minification settings, the problem was resolved.

[2022-09-19 22:22] misterjoshua commented on #1084
Just as an aside, here's another interesting edge case where specifying `subSegmentName` will be useful.

![image](https://user-images.githubusercontent.com/644092/191129775-d379cc81-289c-4799-a42c-eb3135b514d0.png)

In this case, the tracer tries to derive the name of the segment from the anonymous function returned by the `@Retryable` decorator - but the anonymous function will not have a name,

[2022-09-19 23:18] misterjoshua opened #1093 "Bug (Tracer): empty segment name when chaining decorators"
## Bug description

I wanted to capture all the retries of a method that uses a decorator to implement async retries. https://github.com/awslabs/aws-lambda-powertools-typescript/issues/1084#issuecomment-1251630666 However, when the tracer tries to determine the segment name, it doesn't find the name of the original method.

### Expected Behavior

I expected the segment name to use the original met

[2022-09-23 07:20] aleguern commented on #751
Wouldn't it be simpler to ask the client to add a pipe at the end of his command when developing on his local environment ? I come from pino and you can just pretty print your commands with `| pino-pretty`.

[2022-09-27 12:58] dreamorosi commented on #1093
Hi @misterjoshua, thanks a lot for opening this issue!

I was able to reproduce the behaviour described and I agree that things could be improved.

I'm waiting for the current PRs to be reviewed/merged before proposing a fix.

[2022-09-28 09:05] dreamorosi commented on #751
A similar PR was filed for the Python version of Powertools: https://github.com/awslabs/aws-lambda-powertools-python/pull/1548

[2022-09-29 09:22] ijemmy opened #1096 "Feature request: Provide idempotency at function level (via wrapper function and decorator) (FR2)"
## Description of the feature request

**Problem statement**
Library users want to add idempotency attribute to the Lambda handler.

Check [the design spec]( https://github.com/awslabs/aws-lambda-powertools-typescript/issues/447#issuecomment-1217966844)  for details.

**Summary of the feature**
* Provide two interface (wrapper function and decorator) to make a Lambda idempotent
* Cover edge cases

[2022-09-29 09:26] ijemmy commented on #1096
@jeffrey-baker-vg  FYI.

Let's use this issue for tracking progress and links to PR.

[2022-09-29 09:46] krivachy commented on #751
Thanks @saragerion, that would work nicely! Looking forward to having a better local dev experience.

[2022-09-29 09:49] #1085 closed

[2022-09-29 09:50] #1088 closed

[2022-09-29 09:52] saragerion commented on #751
@krivachy would you be so kind to leave your feedback in this RFC?
https://github.com/awslabs/aws-lambda-powertools/issues/86

I'd love to hear your perspective and vision on the matter.

[2022-09-29 10:13] ijemmy opened #1097 "Maintenance: integrate utility with CI/CD merge process"
## Description of the feature request

**Problem statement**
Every time a PR is merged a number of checks and actions are run on the utilities to make sure that the changes introduced are compatible with the existing code.

Additionally, the workflow that runs on merge also builds the documentation and API docs and publishes it.

**Summary of the feature**
This unit of work tracks the activities a

[2022-09-29 10:15] ijemmy opened #1098 "Maintenance: write end-to-end tests for the utility"
## Description of the feature request

**Problem statement**
Before a Powertools utility can be considered production ready it needs to have e2e tests implemented and running every time a new feature or release is added.

**Summary of the feature**
This action item tracks the activities and changes needed to integrate the new utility in the e2e tests, which high level and at the time of writing co

[2022-09-29 10:19] ijemmy opened #1099 "Maintenance: integrate into CI/CD package measurement"
## Description of the feature request

**Problem statement**
Before merging new code into `main` we are running a workflow that measures the impact of the changes on the final package size. The new utility should be part of this workflow.

**Summary of the feature**
This issue tracks the work needed to integrate the new utility as part of the workflow mentioned above. The output report that is gen

[2022-09-29 10:21] ijemmy opened #1100 "Feature (idempotency): integrate utility with CI/CD unit test processes"
## Description of the feature request

**Problem statement**
Even if the new utility won't be released till much later, whenever code is merged into `main` the code coverage should stay at 100%.

**Summary of the feature**
This unit of work tracks the activities and changes needed for the parameters utility to be part of the unit test workflows that run whenever a PR is created and/or updated.

Ad

[2022-09-29 10:23] ijemmy commented on #1098
Waiting for the implementation to be completed first.

[2022-09-29 10:24] ijemmy commented on #1099
Put this on-hold. Waiting for the implementation to be completed first.

[2022-09-29 10:24] ijemmy commented on #1097
Put this on-hold. Waiting for the implementation to be completed first.

[2022-09-29 10:26] ijemmy opened #1101 "Docs: write main docs for the utility"
## Description of the improvement

**Summary of the proposal**
The documentation should include a section dedicated to the upcoming Idempotency utility.

**How, where did you look for information**
N/A

**Missing or unclear documentation**
N/A

**Improvement**
N/A

### Related existing documentation

No

### Related issues, RFCs

#447

[2022-09-29 10:27] ijemmy opened #1102 "Documentation (idempotency): update README.md in the root folder and the utility folder"
## Description of the improvement

**Summary of the proposal**
As a part of the implementation of the utility it's necessary to have a dedicated readme file for the utility as well as update the main one in the root of the project.

The first one will be also used in the npm page, the latter will need to be updated to mention the new utility.

**How, where did you look for information**
Readme of

[2022-09-29 10:28] ijemmy opened #1103 "Docs: refresh examples"
## Description of the improvement

**Summary of the proposal**
The repository contains - at present - examples in CDK and SAM that showcase how to use the Powertools utilities available. The new idempotency utility should be part of these example.

**How, where did you look for information**
In the CDK & SAM examples.

**Missing or unclear documentation**
N/A

**Improvement**
Include examples of t

[2022-09-29 10:30] ijemmy opened #1104 "Docs: create API docs"
## Description of the improvement

**Summary of the proposal**
As a part of our documentation we have a [section that focuses on the APIs available](https://awslabs.github.io/aws-lambda-powertools-typescript/latest/api/). The new utility should feature docstrings that will then populate the corresponding pages of this documentation.

**How, where did you look for information**
This unit of work tr

[2022-09-29 14:54] dreamorosi opened #1106 "Feature (examples): run tests on examples only in CI and not on pre-push locally"
## Description of the feature request

**Problem statement**

At the moment we are running unit tests for all examples every time we are pushing code as a part of the `pre-push` hooks. This is a relic of a time (a year ago) during which we were using the monorepo/linked version of the utilities in the examples.

Since a long time we have moved the examples to use the published version. This means

[2022-10-02 05:29] richchurcher commented on #1030
I'd definitely find this useful. Unit tests can get quite noisy, particularly when testing error cases.

[2022-10-02 12:12] #1089 closed

[2022-10-07 10:49] ghdoergeloh opened #1111 "Bug (logger): type `Error | LogAttributes` is not excepted as extra input"
## Bug description

I would like to log a error inside a catch blog. In the newest version of Typescript a catched "Error" has the type unknown, because it could be anything. So I decided to use the following code:

[code]
but the type is not compatible.

### Expected Behavior

The type should be accepted, because both variants are okay:

[code]

[code]

### Current Behavior

The typescript compil

[2022-10-07 11:05] ghdoergeloh commented on #1111
another option would be this type: `[Error | string | LogAttributes,...LogAttributes]`

But trying around a bit I found the solution, that is even shorter and does exactly the same:

If `e` is an Error, the result is the same:
[code]

both will have an error property: `"error":{"name":"...","stack":"...`

[2022-10-10 22:38] dreamorosi commented on #1111
Hi @ghdoergeloh, thank you for reporting this.

Please allow us some time to go through the repro example and return to you with a reply.

[2022-10-11 10:01] #1091 closed

[2022-10-11 12:51] dreamorosi opened #1114 "Bug (layers): e2e tests failing due to version mismatch"
## Bug description

Before releasing a new version I was running e2e tests. The integration tests for all Node.js versions are failing due to what appears to be a version mismatch between the version in the layer and the one expected:
[code]
From [here](https://github.com/awslabs/aws-lambda-powertools-typescript/actions/runs/3226855354/jobs/5280894390#step:11:47).

Looking at the tested code, the

[2022-10-11 13:03] ijemmy commented on #1111
@ghdoergeloh

Could you tell us on why do you want to pass the `{ error: e }` instead of `e`?  More specifically, why do you want to throw a "non-error" object in the code?

Logger assumes that `e` always be an `Error` object. In that case, `Logger` will [put it in the `error` field automatically](https://awslabs.github.io/aws-lambda-powertools-typescript/latest/core/logger/#logging-errors).

Whil

[2022-10-12 03:24] perpil opened #1115 "Bug (metrics): metadata and dimensions not cleared on publish"
## Bug description

When you invoke `publishStoredMetrics`, it clears the `storedMetrics`, but doesn't clear the metadata or dimensions.  My understanding is that metadata and dimensions are per request, where defaultDimensions should persist between requests.  The python implementation [clears metadata and dimensions on publish](https://github.com/awslabs/aws-lambda-powertools-python/blob/develop

[2022-10-12 09:36] ghdoergeloh commented on #1111
yeah, that's right, but i cannot guarantee that a lib i am using is alsways throwing only errors and if it is something different (e.g. jest overwrites the default Error object, which causes "instanceof Error" to fail - see https://github.com/facebook/jest/issues/2549) then I won't get the complete information about the error in the log.